In [22]:
import pandas as pd
ac = pd.read_csv('../data/raw/ncaa_accolades_2004_to_2023.csv')
ac = ac.drop(columns=['Division', 'INSTNM', 'INSTNM_NORM', 'Champion_NORM', 'Champion', 'type_of_match'])
ac

     Gender      Sport  Year  UNITID
0       Men  Wrestling  2023  214777
1       Men  Wrestling  2022  214777
2       Men  Wrestling  2021  153658
3       Men  Wrestling  2019  214777
4       Men  Wrestling  2018  214777
...     ...        ...   ...     ...
1118    Men   Football  2008  233374
1119    Men   Football  2007  197869
1120    Men   Football  2006  197869
1121    Men   Football  2005  197869
1122    Men   Football  2004  232423

[1123 rows x 4 columns]

In [20]:
# Group by UNITID, Year, Gender and count championships
df_summary = (
    ac.groupby(['UNITID', 'Year', 'Gender'])
      .size()  # counts the number of rows in each group
      .reset_index(name='Number of Championships')
)

# Optional: sort by UNITID then Year
df_summary = df_summary.sort_values(by=['UNITID', 'Year']).reset_index(drop=True)
df_summary.sort_values('Number of Championships', ascending=False)

                Champion  Year Gender  Number of Championships
876                 UCLA  2004  Women                        4
973             Williams  2015  Women                        4
806             Stanford  2019  Women                        4
88               Alabama  2012  Women                        3
391   Grand Valley State  2012  Women                        3
...                  ...   ...    ...                      ...
368              Georgia  2007  Women                        1
369              Georgia  2008    Men                        1
370              Georgia  2008  Women                        1
371              Georgia  2009  Women                        1
1029          Wittenberg  2017    Men                        1

[1030 rows x 4 columns]