# SportParticipation

In [2]:
import pandas as pd

df = pd.read_csv('../data/raw/All_Data_Combined_2004_2005_2006_2007_2008_2009_2010_2011_2012_2013_2014_2015_2016_2017_2018_2019_2020_2021_2022_2023.csv')
df

,Survey Year,UNITID,OPE ID,Institution Name,State CD,Classification Name,Classification Other,Sanction Code,Sanction Name,Male Undergraduates,...,Wrestling Total Expenses,Other Sports Men's Team Expenses,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses
0,2004,222178,353700,Abilene Christian University,TX,NCAA Division II (with football),NaN,1,NCAA,1809.0,...,NaN,NaN,NaN,NaN,NaN,2857711.0,1488903.0,NaN,728113.0,5074727
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA Division I,NaN,3,NJCAA,1068.0,...,NaN,NaN,NaN,NaN,NaN,228209.0,201163.0,NaN,46500.0,475872
2,2004,126182,134500,Adams State College,CO,NCAA Division II (with football),NaN,1,NCAA,767.0,...,126785.0,NaN,NaN,NaN,NaN,1058323.0,766192.0,NaN,226540.0,2051055
3,2004,188429,266600,Adelphi University,NY,NCAA Division II (without football),NaN,1,NCAA,1110.0,...,NaN,NaN,NaN,NaN,NaN,1159346.0,1051790.0,NaN,1067415.0,3278551
4,2004,188438,286000,Adirondack Community College,NY,NJCAA Division III,NaN,3,NJCAA,884.0,...,NaN,NaN,NaN,NaN,NaN,52776.0,42244.0,NaN,13619.0,108639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38143,2023,420440,3122900,York County Community College,ME,USCAA,not sure,9,other,214.0,...,NaN,NaN,NaN,NaN,NaN,58591.0,18539.0,NaN,39456.0,116586
38144,2023,181853,256700,York University,NE,NAIA Division II,NaN,2,NAIA,208.0,...,669959.0,NaN,183035.0,124543.0,307578.0,2398175.0,2080365.0,124543.0,506994.0,5110077
38145,2023,141361,160400,Young Harris College,GA,NCAA Division II without football,NaN,1,NCAA,340.0,...,NaN,NaN,NaN,NaN,NaN,2390550.0,2247563.0,NaN,968948.0,5607061
38146,2023,206695,314500,Youngstown State University,OH,NCAA Division I-FCS,NaN,1,NCAA,3078.0,...,NaN,NaN,NaN,NaN,NaN,9451252.0,6286248.0,NaN,5958973.0,21696473
38147,2023,126119,134400,Yuba College,CA,CCCAA,NaN,9,other,613.0,...,NaN,NaN,NaN,NaN,NaN,488309.0,175806.0,NaN,275095.0,939210

## Cleaning up missing data

In [139]:
df.loc[df['Institution Name'] == 'Simon Fraser University', 'State CD'] = 'BC'
df[df['Total Undergraduates'].isna()].sort_values(["Institution Name", "Survey Year"]) # not sure if these should be omitted

,Survey Year,UNITID,OPE ID,Institution Name,State CD,Classification Name,Classification Other,Sanction Code,Sanction Name,Male Undergraduates,...,Wrestling Total Expenses,Other Sports Men's Team Expenses,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses
2173,2005,158662,462500,Delgado Community College,LA,NJCAA Division I,NaN,3,NJCAA,NaN,...,NaN,NaN,NaN,NaN,NaN,76551.0,0.0,NaN,56000.0,132551
2587,2005,159656,201600,Loyola University New Orleans,LA,NAIA Division I,NaN,2,NAIA,NaN,...,NaN,NaN,NaN,NaN,NaN,387651.0,386299.0,NaN,232940.0,1006890
3093,2005,160630,202600,Southern University at New Orleans,LA,NAIA Division I,NaN,2,NAIA,NaN,...,NaN,NaN,NaN,NaN,NaN,90000.0,0.0,NaN,500.0,90500
1335,2004,179265,250400,St Louis College of Pharmacy,MO,NAIA Division II,NaN,2,NAIA,NaN,...,NaN,NaN,NaN,NaN,NaN,17872.0,40097.0,NaN,10.0,57979
3126,2005,179265,250400,St Louis College of Pharmacy,MO,NAIA Division II,NaN,2,NAIA,NaN,...,NaN,NaN,NaN,NaN,NaN,25527.0,49868.0,NaN,36420.0,111815
3248,2005,160755,202900,Tulane University of Louisiana,LA,NCAA Division I-A,NaN,1,NCAA,NaN,...,NaN,NaN,NaN,NaN,NaN,8943586.0,3820382.0,NaN,4814202.0,17578170

In [140]:
(df.isna() | df.eq('')).sum()

Survey Year                                0
UNITID                                     0
OPE ID                                     0
Institution Name                           0
State CD                                   0
                                       ...
Total Men's Team Expenses                 39
Total Women's Team Expenses               39
Total Coed Team Expenses               35538
Not Allocated by Sex/Sport Expenses       16
Grand Total Expenses                       0
Length: 710, dtype: int64

## Standardizing Leagues and Divisions

In [141]:
division_name_map = {
    "NJCAA Division I": "Division 1",
    "Other": "Other",

    "NCAA Division III (with football)": "Division 3",
    "NCAA Division III with football": "Division 3",
    "NCAA Division III (without football)": "Division 3",
    "NCAA Division III without football": "Division 3",

    "NAIA Division I": "Division 1",
    "NAIA Division II": "Division 2",
    "NAIA Division III": "Division 3",

    "NJCAA Division II": "Division 2",
    "NJCAA Division III": "Division 3",

    "NCAA Division II (with football)": "Division 2",
    "NCAA Division II with football": "Division 2",
    "NCAA Division II (without football)": "Division 2",
    "NCAA Division II without football": "Division 2",

    "NCAA Division I-A": "Division 1",
    "NCAA Division I-AA": "Division 1",
    "NCAA Division I-AAA": "Division 1",
    "NCAA Division I-FBS": "Division 1",
    "NCAA Division I-FCS": "Division 1",
    "NCAA Division I without football": "Division 1",

    "CCCAA": "Other",
    "USCAA": "Other",
    "NWAC": "Other",
    "Independent": "Other",

    "NCCAA Division I": "Division 1",
    "NCCAA Division II": "Division 2",
}

has_football_map = {
    "NJCAA Division I": None,
    "NJCAA Division II": None,
    "NJCAA Division III": None,

    "NAIA Division I": None,
    "NAIA Division II": None,
    "NAIA Division III": None,

    "NCAA Division III (with football)": True,
    "NCAA Division III with football": True,
    "NCAA Division III (without football)": False,
    "NCAA Division III without football": False,

    "NCAA Division II (with football)": True,
    "NCAA Division II with football": True,
    "NCAA Division II (without football)": False,
    "NCAA Division II without football": False,

    "NCAA Division I-A": True,
    "NCAA Division I-FBS": True,
    "NCAA Division I-AA": True,
    "NCAA Division I-FCS": True,
    "NCAA Division I-AAA": False,
    "NCAA Division I without football": False,

    "CCCAA": None,
    "USCAA": None,
    "NWAC": None,
    "Independent": None,
    "Other": None,

    "NCCAA Division I": None,
    "NCCAA Division II": None,
}

football_subdivision_map = {
    "NCAA Division I-A": "FBS",
    "NCAA Division I-FBS": "FBS",

    "NCAA Division I-AA": "FCS",
    "NCAA Division I-FCS": "FCS",
}

insert_idx = df.columns.get_loc("Sanction Name") + 1
df.insert(insert_idx,     "Division Name",        "")
df.insert(insert_idx + 1, "Has Football",         None)
df.insert(insert_idx + 2, "Football Subdivision", "")

df["Division Name"] = df["Classification Name"].map(division_name_map).fillna("")
df["Has Football"] = df["Classification Name"].map(has_football_map)
df["Football Subdivision"] = (
    df["Classification Name"]
    .map(football_subdivision_map)
    .fillna("")
)
df

,Survey Year,UNITID,OPE ID,Institution Name,State CD,Classification Name,Classification Other,Sanction Code,Sanction Name,Division Name,...,Wrestling Total Expenses,Other Sports Men's Team Expenses,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses
0,2004,222178,353700,Abilene Christian University,TX,NCAA Division II (with football),NaN,1,NCAA,Division 2,...,NaN,NaN,NaN,NaN,NaN,2857711.0,1488903.0,NaN,728113.0,5074727
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA Division I,NaN,3,NJCAA,Division 1,...,NaN,NaN,NaN,NaN,NaN,228209.0,201163.0,NaN,46500.0,475872
2,2004,126182,134500,Adams State College,CO,NCAA Division II (with football),NaN,1,NCAA,Division 2,...,126785.0,NaN,NaN,NaN,NaN,1058323.0,766192.0,NaN,226540.0,2051055
3,2004,188429,266600,Adelphi University,NY,NCAA Division II (without football),NaN,1,NCAA,Division 2,...,NaN,NaN,NaN,NaN,NaN,1159346.0,1051790.0,NaN,1067415.0,3278551
4,2004,188438,286000,Adirondack Community College,NY,NJCAA Division III,NaN,3,NJCAA,Division 3,...,NaN,NaN,NaN,NaN,NaN,52776.0,42244.0,NaN,13619.0,108639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38143,2023,420440,3122900,York County Community College,ME,USCAA,not sure,9,other,Other,...,NaN,NaN,NaN,NaN,NaN,58591.0,18539.0,NaN,39456.0,116586
38144,2023,181853,256700,York University,NE,NAIA Division II,NaN,2,NAIA,Division 2,...,669959.0,NaN,183035.0,124543.0,307578.0,2398175.0,2080365.0,124543.0,506994.0,5110077
38145,2023,141361,160400,Young Harris College,GA,NCAA Division II without football,NaN,1,NCAA,Division 2,...,NaN,NaN,NaN,NaN,NaN,2390550.0,2247563.0,NaN,968948.0,5607061
38146,2023,206695,314500,Youngstown State University,OH,NCAA Division I-FCS,NaN,1,NCAA,Division 1,...,NaN,NaN,NaN,NaN,NaN,9451252.0,6286248.0,NaN,5958973.0,21696473
38147,2023,126119,134400,Yuba College,CA,CCCAA,NaN,9,other,Other,...,NaN,NaN,NaN,NaN,NaN,488309.0,175806.0,NaN,275095.0,939210

## Delete and shift columns

In [142]:
# df = df.drop(columns=['UNITID', 'OPE ID', 'Sanction Code'])
df = df.drop(columns=['Sanction Code'])

cols = df.columns.tolist()
move_cols = ["Classification Name", "Classification Other"]
for c in move_cols:
    cols.remove(c)
insert_at = cols.index("Football Subdivision") + 1
new_cols = cols[:insert_at] + move_cols + cols[insert_at:]
df = df[new_cols]

df = df.rename(columns={'Survey Year': 'Year', "State CD": "State Code"})
df

,Year,UNITID,OPE ID,Institution Name,State Code,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,...,Wrestling Total Expenses,Other Sports Men's Team Expenses,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses
0,2004,222178,353700,Abilene Christian University,TX,NCAA,Division 2,True,,NCAA Division II (with football),...,NaN,NaN,NaN,NaN,NaN,2857711.0,1488903.0,NaN,728113.0,5074727
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA,Division 1,None,,NJCAA Division I,...,NaN,NaN,NaN,NaN,NaN,228209.0,201163.0,NaN,46500.0,475872
2,2004,126182,134500,Adams State College,CO,NCAA,Division 2,True,,NCAA Division II (with football),...,126785.0,NaN,NaN,NaN,NaN,1058323.0,766192.0,NaN,226540.0,2051055
3,2004,188429,266600,Adelphi University,NY,NCAA,Division 2,False,,NCAA Division II (without football),...,NaN,NaN,NaN,NaN,NaN,1159346.0,1051790.0,NaN,1067415.0,3278551
4,2004,188438,286000,Adirondack Community College,NY,NJCAA,Division 3,None,,NJCAA Division III,...,NaN,NaN,NaN,NaN,NaN,52776.0,42244.0,NaN,13619.0,108639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38143,2023,420440,3122900,York County Community College,ME,other,Other,None,,USCAA,...,NaN,NaN,NaN,NaN,NaN,58591.0,18539.0,NaN,39456.0,116586
38144,2023,181853,256700,York University,NE,NAIA,Division 2,None,,NAIA Division II,...,669959.0,NaN,183035.0,124543.0,307578.0,2398175.0,2080365.0,124543.0,506994.0,5110077
38145,2023,141361,160400,Young Harris College,GA,NCAA,Division 2,False,,NCAA Division II without football,...,NaN,NaN,NaN,NaN,NaN,2390550.0,2247563.0,NaN,968948.0,5607061
38146,2023,206695,314500,Youngstown State University,OH,NCAA,Division 1,True,FCS,NCAA Division I-FCS,...,NaN,NaN,NaN,NaN,NaN,9451252.0,6286248.0,NaN,5958973.0,21696473
38147,2023,126119,134400,Yuba College,CA,other,Other,None,,CCCAA,...,NaN,NaN,NaN,NaN,NaN,488309.0,175806.0,NaN,275095.0,939210

## Export Data

In [143]:
# df.to_csv('../data/processed/SportParticipation_AllYears.csv', index=False)
df.to_pickle('../data/processed/SportParticipation_AllYears.pkl')

In [144]:
for year in df['Year'].unique():
    df[df['Year'] == year].to_pickle(
        f"../data/processed/SportParticipation_{year}.pkl"
    )