In [160]:
import pandas as pd

vi = pd.read_excel('../data/raw/POPTOTVIA647NWDB.xlsx', sheet_name='Annual')
vi['Year'] = list(range(2000, 2025))
vi['State'] = 'VI'
vi = vi.rename(columns={'POPTOTVIA647NWDB': 'Population'})
vi = vi.drop(columns=['observation_date'])
cols = [c for c in vi.columns if c != 'Population'] + ['Population']
vi = vi[cols]
vi = vi[(vi['Year'] > 2003) & (vi['Year'] < 2024)]
vi

    Year State  Population
4   2004    VI      108466
5   2005    VI      108453
6   2006    VI      108369
7   2007    VI      108337
8   2008    VI      108397
9   2009    VI      108404
10  2010    VI      108357
11  2011    VI      108290
12  2012    VI      108188
13  2013    VI      108041
14  2014    VI      107882
15  2015    VI      107712
16  2016    VI      107516
17  2017    VI      107281
18  2018    VI      107001
19  2019    VI      106669
20  2020    VI      106290
21  2021    VI      105870
22  2022    VI      105413
23  2023    VI      104917

In [161]:
state_to_code = {
    "Alabama": "AL",
    "Alaska": "AK",
    "Arizona": "AZ",
    "Arkansas": "AR",
    "California": "CA",
    "Colorado": "CO",
    "Connecticut": "CT",
    "Delaware": "DE",
    "Florida": "FL",
    "Georgia": "GA",
    "Hawaii": "HI",
    "Idaho": "ID",
    "Illinois": "IL",
    "Indiana": "IN",
    "Iowa": "IA",
    "Kansas": "KS",
    "Kentucky": "KY",
    "Louisiana": "LA",
    "Maine": "ME",
    "Maryland": "MD",
    "Massachusetts": "MA",
    "Michigan": "MI",
    "Minnesota": "MN",
    "Mississippi": "MS",
    "Missouri": "MO",
    "Montana": "MT",
    "Nebraska": "NE",
    "Nevada": "NV",
    "New Hampshire": "NH",
    "New Jersey": "NJ",
    "New Mexico": "NM",
    "New York": "NY",
    "North Carolina": "NC",
    "North Dakota": "ND",
    "Ohio": "OH",
    "Oklahoma": "OK",
    "Oregon": "OR",
    "Pennsylvania": "PA",
    "Rhode Island": "RI",
    "South Carolina": "SC",
    "South Dakota": "SD",
    "Tennessee": "TN",
    "Texas": "TX",
    "Utah": "UT",
    "Vermont": "VT",
    "Virginia": "VA",
    "Washington": "WA",
    "West Virginia": "WV",
    "Wisconsin": "WI",
    "Wyoming": "WY",
    "Virgin Islands": "VI",
    "District of Columbia": "DC",
    "Puerto Rico": "PR"
}

us_pop = []

In [162]:
df09 = pd.read_excel('../data/raw/st-est00int-01.xls', header=3)
df09 = (
    df09.rename(columns={'Unnamed: 0': 'State'})
    .drop(columns=['Unnamed: 1', 'Unnamed: 12', 'Unnamed: 13'])
)
us_pop += df09.loc[df09['State'] == 'United States'].values.tolist()[0][5:]
remove_states = ["United States", "Northeast", "Midwest", "South", "West"]
df09 = df09[~df09['State'].isin(remove_states)]
df09['State'] = df09['State'].str.lstrip('.')
df09['State'] = df09['State'].map(state_to_code)
df09 = df09.dropna(subset=['State'])
df09 = df09.reset_index(drop=True)
df09

,State,2000,2001,2002,2003,2004,2005,2006,2007,2008,2009
0,AL,4452173.0,4467634.0,4480089.0,4503491.0,4530729.0,4569805.0,4628981.0,4672840.0,4718206.0,4757938.0
1,AK,627963.0,633714.0,642337.0,648414.0,659286.0,666946.0,675302.0,680300.0,687455.0,698895.0
2,AZ,5160586.0,5273477.0,5396255.0,5510364.0,5652404.0,5839077.0,6029141.0,6167681.0,6280362.0,6343154.0
3,AR,2678588.0,2691571.0,2705927.0,2724816.0,2749686.0,2781097.0,2821761.0,2848650.0,2874554.0,2896843.0
4,CA,33987977.0,34479458.0,34871843.0,35253159.0,35574576.0,35827943.0,36021202.0,36250311.0,36604337.0,36961229.0
5,CO,4326921.0,4425687.0,4490406.0,4528732.0,4575013.0,4631888.0,4720423.0,4803868.0,4889730.0,4972195.0
6,CT,3411777.0,3432835.0,3458749.0,3484336.0,3496094.0,3506956.0,3517460.0,3527270.0,3545579.0,3561807.0
7,DE,786373.0,795699.0,806169.0,818003.0,830803.0,845150.0,859268.0,871749.0,883874.0,891730.0
8,DC,572046.0,574504.0,573158.0,568502.0,567754.0,567136.0,570681.0,574404.0,580236.0,592228.0
9,FL,16047515.0,16356966.0,16689370.0,17004085.0,17415318.0,17842038.0,18166990.0,18367842.0,18527305.0,18652644.0
10,GA,8227303.0,8377038.0,8508256.0,8622793.0,8769252.0,8925922.0,9155813.0,9349988.0,9504843.0,9620846.0
11,HI,1213519.0,1225948.0,1239613.0,1251154.0,1273569.0,1292729.0,1309731.0,1315675.0,1332213.0,1346717.0
12,ID,1299430.0,1319962.0,1340372.0,1363380.0,1391802.0,1428241.0,1468669.0,1505105.0,1534320.0,1554439.0
13,IL,12434161.0,12488445.0,12525556.0,12556006.0,12589773.0,12609903.0,12643955.0,12695866.0,12747038.0,12796778.0
14,IN,6091866.0,6127760.0,6155967.0,6196638.0,6233007.0,6278616.0,6332669.0,6379599.0,6424806.0,6459325.0
15,IA,2929067.0,2931997.0,2934234.0,2941999.0,2953635.0,2964454.0,2982644.0,2999212.0,3016734.0,3032870.0
16,KS,2693681.0,2702162.0,2713535.0,2723004.0,2734373.0,2745299.0,2762931.0,2783785.0,2808076.0,2832704.0
17,KY,4049021.0,4068132.0,4089875.0,4117170.0,4146101.0,4182742.0,4219239.0,4256672.0,4289878.0,4317074.0
18,LA,4471885.0,4477875.0,4497267.0,4521042.0,4552238.0,4576628.0,4302665.0,4375581.0,4435586.0,4491648.0
19,ME,1277072.0,1285692.0,1295960.0,1306513.0,1313688.0,1318787.0,1323619.0,1327040.0,1330509.0,1329590.0
20,MD,5311034.0,5374691.0,5440389.0,5496269.0,5546935.0,5592379.0,5627367.0,5653408.0,5684965.0,5730388.0
21,MA,6361104.0,6397634.0,6417206.0,6422565.0,6412281.0,6403290.0,6410084.0,6431559.0,6468967.0,6517613.0
22,MI,9952450.0,9991120.0,10015710.0,10041152.0,10055315.0,10051137.0,10036081.0,10001284.0,9946889.0,9901591.0
23,MN,4933692.0,4982796.0,5018935.0,5053572.0,5087713.0,5119598.0,5163555.0,5207203.0,5247018.0,5281203.0
24,MS,2848353.0,2852994.0,2858681.0,2868312.0,2889010.0,2905943.0,2904978.0,2928350.0,2947806.0,2958774.0
25,MO,5607285.0,5641142.0,5674825.0,5709403.0,5747741.0,5790300.0,5842704.0,5887612.0,5923916.0,5961088.0
26,MT,903773.0,906961.0,911667.0,919630.0,930009.0,940102.0,952692.0,964706.0,976415.0,983982.0
27,NE,1713820.0,1719836.0,1728292.0,1738643.0,1749370.0,1761497.0,1772693.0,1783440.0,1796378.0,1812683.0
28,NV,2018741.0,2098399.0,2173791.0,2248850.0,2346222.0,2432143.0,2522658.0,2601072.0,2653630.0,2684665.0
29,NH,1239882.0,1255517.0,1269089.0,1279840.0,1290121.0,1298492.0,1308389.0,1312540.0,1315906.0,1316102.0
30,NJ,8430621.0,8492671.0,8552643.0,8601402.0,8634561.0,8651974.0,8661679.0,8677885.0,8711090.0,8755602.0
31,NM,1821204.0,1831690.0,1855309.0,1877574.0,1903808.0,1932274.0,1962137.0,1990070.0,2010662.0,2036802.0
32,NY,19001780.0,19082838.0,19137800.0,19175939.0,19171567.0,19132610.0,19104631.0,19132335.0,19212436.0,19307066.0
33,NC,8081614.0,8210122.0,8326201.0,8422501.0,8553152.0,8705407.0,8917270.0,9118037.0,9309449.0,9449566.0
34,ND,642023.0,639062.0,638168.0,638817.0,644705.0,646089.0,649422.0,652822.0,657569.0,664968.0
35,OH,11363543.0,11387404.0,11407889.0,11434788.0,11452251.0,11463320.0,11481213.0,11500468.0,11515391.0,11528896.0
36,OK,3454365.0,3467100.0,3489080.0,3504892.0,3525233.0,3548597.0,3594090.0,3634349.0,3668976.0,3717572.0
37,OR,3429708.0,3467937.0,3513424.0,3547376.0,3569463.0,3613202.0,3670883.0,3722417.0,3768748.0,3808600.0
38,PA,12284173.0,12298970.0,12331031.0,12374658.0,12410722.0,12449990.0,12510809.0,12563937.0,12612285.0,12666858.0
39,RI,1050268.0,1057142.0,1065995.0,1071342.0,1074579.0,1067916.0,1063096.0,1057315.0,1055003.0,1053646.0
40,SC,4024223.0,4064995.0,4107795.0,4150297.0,4210921.0,4270150.0,4357847.0,4444110.0,4528996.0,4589872.0
41,SD,755844.0,757972.0,760020.0,763729.0,770396.0,775493.0,783033.0,791623.0,799124.0,807067.0
42,TN,5703719.0,5750789.0,5795918.0,5847812.0,5910809.0,5991057.0,6088766.0,6175727.0,6247411.0,6306019.0
43,TX,20944499.0,21319622.0,21690325.0,22030931.0,22394023.0,22778123.0,23359580.0,23831983.0,24309039.0,24801761.0
44,UT,2244502.0,2283715.0,2324815.0,2360137.0,2401580.0,2457719.0,2525507.0,2597746.0,2663029.0,2723421.0
45,VT,609618.0,612223.0,615442.0,617858.0,619920.0,621215.0,622892.0,623481.0,624151.0,624817.0
46,VA,7105817.0,7198362.0,7286873.0,7366977.0,7475575.0,7577105.0,7673725.0,7751000.0,7833496.0,7925937.0
47,WA,5910512.0,5985722.0,6052349.0,6104115.0,6178645.0,6257305.0,6370753.0,6461587.0,6562231.0,6667426.0
48,WV,1807021.0,1801481.0,1805414.0,1812295.0,1816438.0,1820492.0,1827912.0,1834052.0,1840310.0,1847775.0
49,WI,5373999.0,5406835.0,5445162.0,5479203.0,5514026.0,5546166.0,5577655.0,5610775.0,5640996.0,5669264.0
50,WY,494300.0,494657.0,500017.0,503453.0,509106.0,514157.0,522667.0,534876.0,546043.0,559851.0
51,PR,3810605.0,3818774.0,3823701.0,3826095.0,3826878.0,3821362.0,3805214.0,3782995.0,3760866.0,3740410.0

In [163]:
df09_long = df09.melt(
    id_vars='State',
    value_vars=[2004,2005,2006,2007,2008,2009],
    var_name='Year',
    value_name='Population'
)
df09_long['Year'] = df09_long['Year'].astype(int)
df09_long

    State  Year  Population
0      AL  2004   4530729.0
1      AK  2004    659286.0
2      AZ  2004   5652404.0
3      AR  2004   2749686.0
4      CA  2004  35574576.0
..    ...   ...         ...
307    WA  2009   6667426.0
308    WV  2009   1847775.0
309    WI  2009   5669264.0
310    WY  2009    559851.0
311    PR  2009   3740410.0

[312 rows x 3 columns]

In [164]:
df20 = pd.read_excel('../data/raw/nst-est2020.xlsx', header=3)
df20 = (
    df20.rename(columns={'Unnamed: 0': 'State'})
    .drop(columns=['Census', 'Estimates Base', 'April 1', 'July 1'])
)
us_pop += df20.loc[df20['State'] == 'United States'].values.tolist()[0][1:]
remove_states = ["United States", "Northeast", "Midwest", "South", "West"]
df20 = df20[~df20['State'].isin(remove_states)]
df20['State'] = df20['State'].str.lstrip('.')
df20['State'] = df20['State'].map(state_to_code)
df20 = df20.dropna(subset=['State'])
df20 = df20.reset_index(drop=True)
df20

,State,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,AL,4785514.0,4799642.0,4816632.0,4831586.0,4843737.0,4854803.0,4866824.0,4877989.0,4891628.0,4907965.0
1,AK,713982.0,722349.0,730810.0,737626.0,737075.0,738430.0,742575.0,740983.0,736624.0,733603.0
2,AZ,6407342.0,6473416.0,6556344.0,6634690.0,6732873.0,6832810.0,6944767.0,7048088.0,7164228.0,7291843.0
3,AR,2921998.0,2941038.0,2952876.0,2960459.0,2968759.0,2979732.0,2991815.0,3003855.0,3012161.0,3020985.0
4,CA,37319550.0,37636311.0,37944551.0,38253768.0,38586706.0,38904296.0,39149186.0,39337785.0,39437463.0,39437610.0
5,CO,5047539.0,5121900.0,5193660.0,5270774.0,5352637.0,5454328.0,5543844.0,5617421.0,5697155.0,5758486.0
6,CT,3579173.0,3588632.0,3595211.0,3595792.0,3595697.0,3588561.0,3579830.0,3575324.0,3574561.0,3566022.0
7,DE,899647.0,907590.0,915518.0,924062.0,933131.0,942065.0,949989.0,957942.0,966985.0,976668.0
8,DC,605282.0,620290.0,635737.0,651559.0,663603.0,677014.0,687576.0,697079.0,704147.0,708253.0
9,FL,18846143.0,19055607.0,19302016.0,19551678.0,19853880.0,20219111.0,20627237.0,20977089.0,21254926.0,21492056.0
10,GA,9712209.0,9803630.0,9903580.0,9975592.0,10071204.0,10183353.0,10308442.0,10417031.0,10519389.0,10628020.0
11,HI,1364004.0,1379562.0,1395199.0,1408822.0,1415335.0,1422999.0,1428885.0,1425763.0,1423102.0,1415615.0
12,ID,1570819.0,1584272.0,1595910.0,1612053.0,1632248.0,1652495.0,1684036.0,1719745.0,1752074.0,1789060.0
13,IL,12840545.0,12867783.0,12883029.0,12895778.0,12885092.0,12859585.0,12821709.0,12779893.0,12724685.0,12667017.0
14,IN,6490555.0,6517250.0,6538989.0,6570575.0,6596019.0,6611442.0,6637898.0,6662068.0,6698481.0,6731010.0
15,IA,3050819.0,3066772.0,3076844.0,3093935.0,3110643.0,3122541.0,3133210.0,3143734.0,3149900.0,3159596.0
16,KS,2858266.0,2869677.0,2886024.0,2894306.0,2901861.0,2910717.0,2912977.0,2910892.0,2912748.0,2912635.0
17,KY,4348464.0,4370817.0,4387865.0,4406906.0,4416992.0,4429126.0,4440306.0,4455590.0,4464273.0,4472345.0
18,LA,4544635.0,4576244.0,4602067.0,4626040.0,4645938.0,4666998.0,4681346.0,4673673.0,4664450.0,4658285.0
19,ME,1327651.0,1328473.0,1328094.0,1328543.0,1331217.0,1329098.0,1332348.0,1335743.0,1340123.0,1345770.0
20,MD,5788784.0,5840241.0,5888375.0,5925197.0,5960064.0,5988528.0,6007014.0,6028186.0,6042153.0,6054954.0
21,MA,6566440.0,6614218.0,6664269.0,6715158.0,6764864.0,6797484.0,6827280.0,6863560.0,6885720.0,6894883.0
22,MI,9877597.0,9883053.0,9898289.0,9914802.0,9932033.0,9934483.0,9954117.0,9976752.0,9987286.0,9984795.0
23,MN,5310934.0,5346620.0,5377500.0,5414722.0,5452665.0,5484002.0,5525360.0,5569283.0,5608762.0,5640053.0
24,MS,2970615.0,2979147.0,2984599.0,2989839.0,2991892.0,2990231.0,2990595.0,2990674.0,2982879.0,2978227.0
25,MO,5996089.0,6011182.0,6026027.0,6042989.0,6059130.0,6075411.0,6091384.0,6111382.0,6125986.0,6140475.0
26,MT,990730.0,997518.0,1004168.0,1014158.0,1022657.0,1031495.0,1042137.0,1053862.0,1061818.0,1070123.0
27,NE,1829591.0,1840914.0,1853691.0,1865813.0,1879955.0,1892059.0,1906483.0,1916998.0,1925512.0,1932571.0
28,NV,2702483.0,2713114.0,2744670.0,2776956.0,2818935.0,2868531.0,2919555.0,2972097.0,3030725.0,3090771.0
29,NH,1316807.0,1320444.0,1324677.0,1327272.0,1334257.0,1337480.0,1343694.0,1350395.0,1355064.0,1360783.0
30,NJ,8799451.0,8828552.0,8845671.0,8857821.0,8867277.0,8870312.0,8873584.0,8888147.0,8891730.0,8891258.0
31,NM,2064614.0,2080707.0,2087715.0,2092833.0,2090236.0,2090071.0,2092555.0,2092844.0,2093754.0,2099634.0
32,NY,19399956.0,19499921.0,19574362.0,19626488.0,19653431.0,19657321.0,19636391.0,19593849.0,19544098.0,19463131.0
33,NC,9574586.0,9658913.0,9751810.0,9846717.0,9937295.0,10037218.0,10161802.0,10275758.0,10391358.0,10501384.0
34,ND,674752.0,685526.0,702227.0,723149.0,738736.0,755537.0,756114.0,756755.0,760062.0,763724.0
35,OH,11539449.0,11545735.0,11550971.0,11579692.0,11606573.0,11622315.0,11640060.0,11665706.0,11680892.0,11696507.0
36,OK,3760014.0,3788824.0,3819320.0,3853891.0,3879187.0,3910518.0,3928143.0,3933602.0,3943488.0,3960676.0
37,OR,3837614.0,3872672.0,3900102.0,3924110.0,3965447.0,4018542.0,4093271.0,4147294.0,4183538.0,4216116.0
38,PA,12711406.0,12747052.0,12769123.0,12779538.0,12792392.0,12789838.0,12788468.0,12794679.0,12809107.0,12798883.0
39,RI,1053994.0,1053829.0,1054893.0,1055560.0,1056511.0,1056886.0,1057816.0,1056554.0,1059338.0,1058158.0
40,SC,4635846.0,4672655.0,4719027.0,4766469.0,4826858.0,4896006.0,4963031.0,5027102.0,5091702.0,5157702.0
41,SD,816193.0,823740.0,833859.0,842751.0,849670.0,854663.0,863693.0,873732.0,879386.0,887127.0
42,TN,6355518.0,6400298.0,6455752.0,6496943.0,6544617.0,6595354.0,6651277.0,6714748.0,6778180.0,6830325.0
43,TX,25241897.0,25645504.0,26084120.0,26479646.0,26963092.0,27468531.0,27914064.0,28291024.0,28624564.0,28986794.0
44,UT,2775413.0,2814797.0,2854146.0,2898773.0,2938327.0,2983626.0,3044241.0,3103540.0,3155153.0,3203383.0
45,VT,625886.0,627197.0,626361.0,626603.0,625693.0,625810.0,624366.0,625132.0,624802.0,624046.0
46,VA,8024004.0,8102437.0,8187456.0,8255861.0,8315430.0,8367303.0,8417651.0,8471011.0,8510920.0,8556642.0
47,WA,6743009.0,6827479.0,6898599.0,6966252.0,7057531.0,7167287.0,7299961.0,7427951.0,7526793.0,7614024.0
48,WV,1854265.0,1856606.0,1857446.0,1854768.0,1850569.0,1843332.0,1832435.0,1818683.0,1805953.0,1795263.0
49,WI,5690538.0,5705840.0,5720825.0,5738012.0,5753199.0,5762927.0,5775170.0,5793147.0,5809319.0,5824581.0
50,WY,564531.0,567491.0,576656.0,582620.0,583159.0,586389.0,585243.0,579994.0,579054.0,580116.0
51,PR,3721525.0,3678732.0,3634488.0,3593077.0,3534874.0,3473232.0,3406672.0,3325284.0,3193344.0,3193553.0

In [165]:
df20_long = df20.melt(
    id_vars='State',
    value_vars=list(range(2010, 2020)),
    var_name='Year',
    value_name='Population'
)
df20_long['Year'] = df20_long['Year'].astype(int)
df20_long

    State  Year  Population
0      AL  2010   4785514.0
1      AK  2010    713982.0
2      AZ  2010   6407342.0
3      AR  2010   2921998.0
4      CA  2010  37319550.0
..    ...   ...         ...
515    WA  2019   7614024.0
516    WV  2019   1795263.0
517    WI  2019   5824581.0
518    WY  2019    580116.0
519    PR  2019   3193553.0

[520 rows x 3 columns]

In [166]:
df24 = pd.read_excel('../data/raw/NST-EST2024-POP.xlsx', header=3)
df24 = (
    df24.rename(columns={'Unnamed: 0': 'State'})
    .drop(columns=['Unnamed: 1'])
)
us_pop += df24.loc[df24['State'] == 'United States'].values.tolist()[0][1:-1]
remove_states = ["United States", "Northeast", "Midwest", "South", "West"]
df24 = df24[~df24['State'].isin(remove_states)]
df24['State'] = df24['State'].str.lstrip('.')
df24['State'] = df24['State'].map(state_to_code)
df24 = df24.dropna(subset=['State'])
df24 = df24.reset_index(drop=True)
df24

   State        2020        2021        2022        2023        2024
0     AL   5033094.0   5049196.0   5076181.0   5117673.0   5157699.0
1     AK    733017.0    734420.0    734442.0    736510.0    740133.0
2     AZ   7187135.0   7274078.0   7377566.0   7473027.0   7582384.0
3     AR   3014546.0   3026870.0   3047704.0   3069463.0   3088354.0
4     CA  39521958.0  39142565.0  39142414.0  39198693.0  39431263.0
5     CO   5787129.0   5814036.0   5850935.0   5901339.0   5957493.0
6     CT   3579918.0   3606607.0   3617925.0   3643023.0   3675069.0
7     DE    991928.0   1005062.0   1020625.0   1036423.0   1051917.0
8     DC    670917.0    669256.0    676725.0    687324.0    702250.0
9     FL  21592035.0  21831949.0  22379312.0  22904868.0  23372215.0
10    GA  10732888.0  10792060.0  10931805.0  11064432.0  11180878.0
11    HI   1451252.0   1447029.0   1440359.0   1441387.0   1446146.0
12    ID   1849415.0   1904848.0   1944299.0   1971122.0   2001619.0
13    IL  12799088.0  12700641.0  12621821.0  12642259.0  12710158.0
14    IN   6790497.0   6815907.0   6844545.0   6880131.0   6924275.0
15    IA   3191141.0   3198613.0   3202820.0   3218414.0   3241488.0
16    KS   2938172.0   2938338.0   2937324.0   2951500.0   2970606.0
17    KY   4508318.0   4507583.0   4519233.0   4550595.0   4588372.0
18    LA   4652301.0   4627971.0   4593687.0   4588071.0   4597740.0
19    ME   1364571.0   1378931.0   1390922.0   1399646.0   1405012.0
20    MD   6177935.0   6179403.0   6192440.0   6217062.0   6263220.0
21    MA   6994598.0   7000474.0   7022468.0   7066568.0   7136171.0
22    MI  10072703.0  10041351.0  10050877.0  10083356.0  10140459.0
23    MN   5710735.0   5718660.0   5721621.0   5753048.0   5793151.0
24    MS   2958536.0   2947209.0   2941939.0   2943172.0   2943045.0
25    MO   6154744.0   6171374.0   6179414.0   6208038.0   6245466.0
26    MT   1087230.0   1106522.0   1122095.0   1131302.0   1137233.0
27    NE   1963387.0   1964537.0   1972246.0   1987864.0   2005465.0
28    NV   3116967.0   3148141.0   3176116.0   3214363.0   3267467.0
29    NH   1378756.0   1387677.0   1396678.0   1402199.0   1409032.0
30    NJ   9272794.0   9270541.0   9295227.0   9379642.0   9500851.0
31    NM   2118606.0   2117333.0   2113868.0   2121164.0   2130256.0
32    NY  20105171.0  19848276.0  19703747.0  19737367.0  19867248.0
33    NC  10449652.0  10564320.0  10710793.0  10881189.0  11046024.0
34    ND    779563.0    777966.0    781057.0    789047.0    796568.0
35    OH  11798905.0  11767344.0  11777874.0  11824034.0  11883304.0
36    OK   3965415.0   3992238.0   4026229.0   4063882.0   4095393.0
37    OR   4243779.0   4254280.0   4247372.0   4253653.0   4272371.0
38    PA  12996143.0  13015571.0  12984990.0  13017721.0  13078751.0
39    RI   1096530.0   1097246.0   1099498.0   1103429.0   1112308.0
40    SC   5132249.0   5194274.0   5287935.0   5387830.0   5478831.0
41    SD    887948.0    896492.0    909723.0    918305.0    924669.0
42    TN   6927904.0   6965740.0   7062217.0   7148304.0   7227750.0
43    TX  29239570.0  29570351.0  30113488.0  30727890.0  31290831.0
44    UT   3284077.0   3339738.0   3391011.0   3443222.0   3503613.0
45    VT    642977.0    647210.0    648142.0    648708.0    648493.0
46    VA   8637615.0   8658910.0   8683414.0   8734685.0   8811195.0
47    WA   7727209.0   7743760.0   7794123.0   7857320.0   7958180.0
48    WV   1791646.0   1785618.0   1774122.0   1770495.0   1769979.0
49    WI   5897375.0   5881608.0   5903975.0   5930405.0   5960975.0
50    WY    577681.0    579636.0    581978.0    585067.0    587618.0
51    PR   3281590.0   3262711.0   3220137.0   3203792.0   3203295.0

In [167]:
df24_long = df24.melt(
    id_vars='State',
    value_vars=list(range(2020, 2024)),
    var_name='Year',
    value_name='Population'
)
df24_long['Year'] = df24_long['Year'].astype(int)
df24_long

    State  Year  Population
0      AL  2020   5033094.0
1      AK  2020    733017.0
2      AZ  2020   7187135.0
3      AR  2020   3014546.0
4      CA  2020  39521958.0
..    ...   ...         ...
203    WA  2023   7857320.0
204    WV  2023   1770495.0
205    WI  2023   5930405.0
206    WY  2023    585067.0
207    PR  2023   3203792.0

[208 rows x 3 columns]

In [168]:
all_years = pd.concat([df09_long, df20_long, df24_long], ignore_index=True)
all_years

     State  Year  Population
0       AL  2004   4530729.0
1       AK  2004    659286.0
2       AZ  2004   5652404.0
3       AR  2004   2749686.0
4       CA  2004  35574576.0
...    ...   ...         ...
1035    WA  2023   7857320.0
1036    WV  2023   1770495.0
1037    WI  2023   5930405.0
1038    WY  2023    585067.0
1039    PR  2023   3203792.0

[1040 rows x 3 columns]

In [169]:
dfus = pd.DataFrame({'Year': list(range(2004, 2024)), 'US Population': us_pop})
dfus

    Year  US Population
0   2004    292805298.0
1   2005    295516599.0
2   2006    298379912.0
3   2007    301231207.0
4   2008    304093966.0
5   2009    306771529.0
6   2010    309327143.0
7   2011    311583481.0
8   2012    313877662.0
9   2013    316059947.0
10  2014    318386329.0
11  2015    320738994.0
12  2016    323071755.0
13  2017    325122128.0
14  2018    326838199.0
15  2019    328329953.0
16  2020    331577720.0
17  2021    332099760.0
18  2022    334017321.0
19  2023    336806231.0

In [170]:
merged_df = pd.merge(all_years, dfus, on='Year', how='inner')
merged_df

     State  Year  Population  US Population
0       AL  2004   4530729.0    292805298.0
1       AK  2004    659286.0    292805298.0
2       AZ  2004   5652404.0    292805298.0
3       AR  2004   2749686.0    292805298.0
4       CA  2004  35574576.0    292805298.0
...    ...   ...         ...            ...
1035    WA  2023   7857320.0    336806231.0
1036    WV  2023   1770495.0    336806231.0
1037    WI  2023   5930405.0    336806231.0
1038    WY  2023    585067.0    336806231.0
1039    PR  2023   3203792.0    336806231.0

[1040 rows x 4 columns]

In [171]:
merged_df.to_pickle('../data/processed/state_populations.pkl')