Run after `merge_all.ipynb`
## Sport Participation

In [100]:
import pickle
import pandas as pd
sp = pd.read_pickle("../data/processed/SportParticipation_AllYears.pkl")
sp

,Year,UNITID,OPE ID,Institution Name,State Code,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,...,Wrestling Total Expenses,Other Sports Men's Team Expenses,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses
0,2004,222178,353700,Abilene Christian University,TX,NCAA,Division 2,True,,NCAA Division II (with football),...,NaN,NaN,NaN,NaN,NaN,2857711.0,1488903.0,NaN,728113.0,5074727
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA,Division 1,None,,NJCAA Division I,...,NaN,NaN,NaN,NaN,NaN,228209.0,201163.0,NaN,46500.0,475872
2,2004,126182,134500,Adams State College,CO,NCAA,Division 2,True,,NCAA Division II (with football),...,126785.0,NaN,NaN,NaN,NaN,1058323.0,766192.0,NaN,226540.0,2051055
3,2004,188429,266600,Adelphi University,NY,NCAA,Division 2,False,,NCAA Division II (without football),...,NaN,NaN,NaN,NaN,NaN,1159346.0,1051790.0,NaN,1067415.0,3278551
4,2004,188438,286000,Adirondack Community College,NY,NJCAA,Division 3,None,,NJCAA Division III,...,NaN,NaN,NaN,NaN,NaN,52776.0,42244.0,NaN,13619.0,108639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38143,2023,420440,3122900,York County Community College,ME,other,Other,None,,USCAA,...,NaN,NaN,NaN,NaN,NaN,58591.0,18539.0,NaN,39456.0,116586
38144,2023,181853,256700,York University,NE,NAIA,Division 2,None,,NAIA Division II,...,669959.0,NaN,183035.0,124543.0,307578.0,2398175.0,2080365.0,124543.0,506994.0,5110077
38145,2023,141361,160400,Young Harris College,GA,NCAA,Division 2,False,,NCAA Division II without football,...,NaN,NaN,NaN,NaN,NaN,2390550.0,2247563.0,NaN,968948.0,5607061
38146,2023,206695,314500,Youngstown State University,OH,NCAA,Division 1,True,FCS,NCAA Division I-FCS,...,NaN,NaN,NaN,NaN,NaN,9451252.0,6286248.0,NaN,5958973.0,21696473
38147,2023,126119,134400,Yuba College,CA,other,Other,None,,CCCAA,...,NaN,NaN,NaN,NaN,NaN,488309.0,175806.0,NaN,275095.0,939210

In [101]:
sp_cols = list(sp.columns)
mens_part = [col for col in sp_cols if "Men's Team Part" in col]
mens_part

["Archery Men's Team Participation",
 "Badminton Men's Team Participation",
 "Baseball Men's Team Participation",
 "Basketball Men's Team Participation",
 "Beach Volleyball Men's Team Participation",
 "Bowling Men's Team Participation",
 "All Track Combined Men's Team Participation",
 "Diving Men's Team Participation",
 "Equestrian Men's Team Participation",
 "Fencing Men's Team Participation",
 "Field Hockey Men's Team Participation",
 "Football Men's Team Participation",
 "Golf Men's Team Participation",
 "Gymnastics Men's Team Participation",
 "Ice Hockey Men's Team Participation",
 "Lacrosse Men's Team Participation",
 "Rifle Men's Team Participation",
 "Rodeo Men's Team Participation",
 "Rowing Men's Team Participation",
 "Sailing Men's Team Participation",
 "Skiing Men's Team Participation",
 "Soccer Men's Team Participation",
 "Softball Men's Team Participation",
 "Squash Men's Team Participation",
 "Swimming and Diving Men's Team Participation",
 "Swimming Men's Team Participation",
 "Synchronized Swimming Men's Team Participation",
 "Table Tennis Men's Team Participation",
 "Team Handball Men's Team Participation",
 "Tennis Men's Team Participation",
 "Track and Field Indoor Men's Team Participation",
 "Track and Field Outdoor Men's Team Participation",
 "Track and Field X Country Men's Team Participation",
 "Volleyball Men's Team Participation",
 "Water Polo Men's Team Participation",
 "Weight Lifting Men's Team Participation",
 "Wrestling Men's Team Participation",
 "Other Sports Men's Team Participation",
 "Total Men's Team Participation"]

In [102]:
womens_part = [col for col in sp_cols if "Women's Team Part" in col]
womens_part

["Archery Women's Team Participation",
 "Badminton Women's Team Participation",
 "Baseball Women's Team Participation",
 "Basketball Women's Team Participation",
 "Beach Volleyball Women's Team Participation",
 "Bowling Women's Team Participation",
 "All Track Combined Women's Team Participation",
 "Diving Women's Team Participation",
 "Equestrian Women's Team Participation",
 "Fencing Women's Team Participation",
 "Field Hockey Women's Team Participation",
 "Football Women's Team Participation",
 "Golf Women's Team Participation",
 "Gymnastics Women's Team Participation",
 "Ice Hockey Women's Team Participation",
 "Lacrosse Women's Team Participation",
 "Rifle Women's Team Participation",
 "Rodeo Women's Team Participation",
 "Rowing Women's Team Participation",
 "Sailing Women's Team Participation",
 "Skiing Women's Team Participation",
 "Soccer Women's Team Participation",
 "Softball Women's Team Participation",
 "Squash Women's Team Participation",
 "Swimming and Diving Women's Team Participation",
 "Swimming Women's Team Participation",
 "Synchronized Swimming Women's Team Participation",
 "Table Tennis Women's Team Participation",
 "Team Handball Women's Team Participation",
 "Tennis Women's Team Participation",
 "Track and Field Indoor Women's Team Participation",
 "Track and Field Outdoor Women's Team Participation",
 "Track and Field X Country Women's Team Participation",
 "Volleyball Women's Team Participation",
 "Water Polo Women's Team Participation",
 "Weight Lifting Women's Team Participation",
 "Wrestling Women's Team Participation",
 "Other Sports Women's Team Participation",
 "Total Women's Team Participation"]

In [103]:
import re

coed_part = [col for col in sp_cols if re.search(r"Coed.*Part", col)]
coed_part

['Archery Coed Team Men Participation',
 'Archery Coed Team Women Participation',
 'Badminton Coed Team Men Participation',
 'Badminton Coed Team Women Participation',
 'Baseball Coed Team Men Participation',
 'Baseball Coed Team Women Participation',
 'Basketball Coed Team Men Participation',
 'Basketball Coed Team Women Participation',
 'Beach Volleyball Coed Team Men Participation',
 'Beach Volleyball Coed Team Women Participation',
 'Bowling Coed Team Men Participation',
 'Bowling Coed Team Women Participation',
 'All Track Combined Coed Team Men Participation',
 'All Track Combined Coed Team Women Participation',
 'Diving Coed Team Men Participation',
 'Diving Coed Team Women Participation',
 'Equestrian Coed Team Men Participation',
 'Equestrian Coed Team Women Participation',
 'Fencing Coed Team Men Participation',
 'Fencing Coed Team Women Participation',
 'Field Hockey Coed Team Men Participation',
 'Field Hockey Coed Team Women Participation',
 'Football Coed Team Men Participation',
 'Football Coed Team Women Participation',
 'Golf Coed Team Men Participation',
 'Golf Coed Team Women Participation',
 'Gymnastics Coed Team Men Participation',
 'Gymnastics Coed Team Women Participation',
 'Ice Hockey Coed Team Men Participation',
 'Ice Hockey Coed Team Women Participation',
 'Lacrosse Coed Team Men Participation',
 'Lacrosse Coed Team Women Participation',
 'Rifle Coed Team Men Participation',
 'Rifle Coed Team Women Participation',
 'Rodeo Coed Team Men Participation',
 'Rodeo Coed Team Women Participation',
 'Rowing Coed Team Men Participation',
 'Rowing Coed Team Women Participation',
 'Sailing Coed Team Men Participation',
 'Sailing Coed Team Women Participation',
 'Skiing Coed Team Men Participation',
 'Skiing Coed Team Women Participation',
 'Soccer Coed Team Men Participation',
 'Soccer Coed Team Women Participation',
 'Softball Coed Team Men Participation',
 'Softball Coed Team Women Participation',
 'Squash Coed Team Men Participation',
 'Squash Coed Team Women Participation',
 'Swimming and Diving Coed Team Men Participation',
 'Swimming and Diving Coed Team Women Participation',
 'Swimming Coed Team Men Participation',
 'Swimming Coed Team Women Participation',
 'Synchronized Swimming Coed Team Men Participation',
 'Synchronized Swimming Coed Team Women Participation',
 'Table Tennis Coed Team Men Participation',
 'Table Tennis Coed Team Women Participation',
 'Team Handball Coed Team Men Participation',
 'Team Handball Coed Team Women Participation',
 'Tennis Coed Team Men Participation',
 'Tennis Coed Team Women Participation',
 'Track and Field Indoor Coed Team Men Participation',
 'Track and Field Indoor Coed Team Women Participation',
 'Track and Field Outdoor Coed Team Men Participation',
 'Track and Field Outdoor Coed Team Women Participation',
 'Track and Field X Country Coed Team Men Participation',
 'Track and Field X Country Coed Team Women Participation',
 'Volleyball Coed Team Men Participation',
 'Volleyball Coed Team Women Participation',
 'Water Polo Coed Team Men Participation',
 'Water Polo Coed Team Women Participation',
 'Weight Lifting Coed Team Men Participation',
 'Weight Lifting Coed Team Women Participation',
 'Wrestling Coed Team Men Participation',
 'Wrestling Coed Team Women Participation',
 'Other Sports Coed Team Men Participation',
 'Other Sports Coed Team Women Participation',
 'Total Coed Team Men Participation',
 'Total Coed Team Women Participation']

In [104]:
total_participation_cols = [
    "Total Men's Team Participation",
    "Total Women's Team Participation",
    "Total Coed Team Men Participation",
    "Total Coed Team Women Participation",
    "Grand Total Men's Participation",
    "Grand Total Women's Participation",
    "Unduplicated Count Men's Participation",
    "Unduplicated Count Women's Participation"
]

In [105]:
mens_revenue = [col for col in sp_cols if "Men's Team Rev" in col]
mens_revenue

["Archery Men's Team Revenue",
 "Badminton Men's Team Revenue",
 "Baseball Men's Team Revenue",
 "Basketball Men's Team Revenue",
 "Beach Volleyball Men's Team Revenue",
 "Bowling Men's Team Revenue",
 "All Track Combined Men's Team Revenue",
 "Diving Men's Team Revenue",
 "Equestrian Men's Team Revenue",
 "Fencing Men's Team Revenue",
 "Field Hockey Men's Team Revenue",
 "Football Men's Team Revenue",
 "Golf Men's Team Revenue",
 "Gymnastics Men's Team Revenue",
 "Ice Hockey Men's Team Revenue",
 "Lacrosse Men's Team Revenue",
 "Rifle Men's Team Revenue",
 "Rodeo Men's Team Revenue",
 "Rowing Men's Team Revenue",
 "Sailing Men's Team Revenue",
 "Skiing Men's Team Revenue",
 "Soccer Men's Team Revenue",
 "Softball Men's Team Revenue",
 "Squash Men's Team Revenue",
 "Swimming and Diving Men's Team Revenue",
 "Swimming Men's Team Revenue",
 "Synchronized Swimming Men's Team Revenue",
 "Table Tennis Men's Team Revenue",
 "Team Handball Men's Team Revenue",
 "Tennis Men's Team Revenue",
 "Track and Field Indoor Men's Team Revenue",
 "Track and Field Outdoor Men's Team Revenue",
 "Track and Field X Country Men's Team Revenue",
 "Volleyball Men's Team Revenue",
 "Water Polo Men's Team Revenue",
 "Weight Lifting Men's Team Revenue",
 "Wrestling Men's Team Revenue",
 "Other Sports Men's Team Revenue",
 "Total Men's Team Revenue"]

In [106]:
womens_revenue = [col for col in sp_cols if "Women's Team Rev" in col]
womens_revenue

["Archery Women's Team Revenue",
 "Badminton Women's Team Revenue",
 "Baseball Women's Team Revenue",
 "Basketball Women's Team Revenue",
 "Beach Volleyball Women's Team Revenue",
 "Bowling Women's Team Revenue",
 "All Track Combined Women's Team Revenue",
 "Diving Women's Team Revenue",
 "Equestrian Women's Team Revenue",
 "Fencing Women's Team Revenue",
 "Field Hockey Women's Team Revenue",
 "Football Women's Team Revenue",
 "Golf Women's Team Revenue",
 "Gymnastics Women's Team Revenue",
 "Ice Hockey Women's Team Revenue",
 "Lacrosse Women's Team Revenue",
 "Rifle Women's Team Revenue",
 "Rodeo Women's Team Revenue",
 "Rowing Women's Team Revenue",
 "Sailing Women's Team Revenue",
 "Skiing Women's Team Revenue",
 "Soccer Women's Team Revenue",
 "Softball Women's Team Revenue",
 "Squash Women's Team Revenue",
 "Swimming and Diving Women's Team Revenue",
 "Swimming Women's Team Revenue",
 "Synchronized Swimming Women's Team Revenue",
 "Table Tennis Women's Team Revenue",
 "Team Handball Women's Team Revenue",
 "Tennis Women's Team Revenue",
 "Track and Field Indoor Women's Team Revenue",
 "Track and Field Outdoor Women's Team Revenue",
 "Track and Field X Country Women's Team Revenue",
 "Volleyball Women's Team Revenue",
 "Water Polo Women's Team Revenue",
 "Weight Lifting Women's Team Revenue",
 "Wrestling Women's Team Revenue",
 "Other Sports Women's Team Revenue",
 "Total Women's Team Revenue"]

In [107]:
coed_revenue = [col for col in sp_cols if re.search(r"Coed.*Rev", col)]
coed_revenue

['Archery Coed Team Revenue',
 'Badminton Coed Team Revenue',
 'Baseball Coed Team Revenue',
 'Basketball Coed Team Revenue',
 'Beach Volleyball Coed Team Revenue Revenue',
 'Bowling Coed Team Revenue',
 'All Track Combined Coed Team Revenue',
 'Diving Coed Team Revenue',
 'Equestrian Coed Team Revenue',
 'Fencing Coed Team Revenue',
 'Field Hockey Coed Team Revenue',
 'Football Coed Team Revenue',
 'Golf Coed Team Revenue',
 'Gymnastics Coed Team Revenue',
 'Ice Hockey Coed Team Revenue',
 'Lacrosse Coed Team Revenue',
 'Rifle Coed Team Revenue',
 'Rodeo Coed Team Revenue',
 'Rowing Coed Team Revenue',
 'Sailing Coed Team Revenue',
 'Skiing Coed Team Revenue',
 'Soccer Coed Team Revenue',
 'Softball Coed Team Revenue',
 'Squash Coed Team Revenue',
 'Swimming and Diving Coed Team Revenue',
 'Swimming Coed Team Revenue',
 'Synchronized Swimming Coed Team Revenue',
 'Table Tennis Coed Team Revenue',
 'Team Handball Coed Team Revenue',
 'Tennis Coed Team Revenue',
 'Track and Field Indoor Coed Team Revenue',
 'Track and Field Outdoor Coed Team Revenue',
 'Track and Field X Country Coed Team Revenue',
 'Volleyball Coed Team Revenue',
 'Water Polo Coed Team Revenue',
 'Weight Lifting Coed Team Revenue',
 'Wrestling Coed Team Revenue',
 'Other Sports Coed Team Revenue',
 'Total Coed Team Revenue']

In [108]:
mens_expenses = [col for col in sp_cols if "Men's Team Exp" in col]
mens_expenses

["Archery Men's Team Expenses",
 "Badminton Men's Team Expenses",
 "Baseball Men's Team Expenses",
 "Basketball Men's Team Expenses",
 "Beach Volleyball Men's Team Expenses",
 "Bowling Men's Team Expenses",
 "All Track Combined Men's Team Expenses",
 "Diving Men's Team Expenses",
 "Equestrian Men's Team Expenses",
 "Fencing Men's Team Expenses",
 "Field Hockey Men's Team Expenses",
 "Football Men's Team Expenses",
 "Golf Men's Team Expenses",
 "Gymnastics Men's Team Expenses",
 "Ice Hockey Men's Team Expenses",
 "Lacrosse Men's Team Expenses",
 "Rifle Men's Team Expenses",
 "Rodeo Men's Team Expenses",
 "Rowing Men's Team Expenses",
 "Sailing Men's Team Expenses",
 "Skiing Men's Team Expenses",
 "Soccer Men's Team Expenses",
 "Softball Men's Team Expenses",
 "Squash Men's Team Expenses",
 "Swimming and Diving Men's Team Expenses",
 "Swimming Men's Team Expenses",
 "Synchronized Swimming Men's Team Expenses",
 "Table Tennis Men's Team Expenses",
 "Team Handball Men's Team Expenses",
 "Tennis Men's Team Expenses",
 "Track and Field Indoor Men's Team Expenses",
 "Track and Field Outdoor Men's Team Expenses",
 "Track and Field X Country Men's Team Expenses",
 "Volleyball Men's Team Expenses",
 "Water Polo Men's Team Expenses",
 "Weight Lifting Men's Team Expenses",
 "Wrestling Men's Team Expenses",
 "Other Sports Men's Team Expenses",
 "Total Men's Team Expenses"]

In [109]:
womens_expenses = [col for col in sp_cols if "Women's Team Exp" in col]
womens_expenses

["Archery Women's Team Expenses",
 "Badminton Women's Team Expenses",
 "Baseball Women's Team Expenses",
 "Basketball Women's Team Expenses",
 "Beach Volleyball Women's Team Expenses",
 "Bowling Women's Team Expenses",
 "All Track Combined Women's Team Expenses",
 "Diving Women's Team Expenses",
 "Equestrian Women's Team Expenses",
 "Fencing Women's Team Expenses",
 "Field Hockey Women's Team Expenses",
 "Football Women's Team Expenses",
 "Golf Women's Team Expenses",
 "Gymnastics Women's Team Expenses",
 "Ice Hockey Women's Team Expenses",
 "Lacrosse Women's Team Expenses",
 "Rifle Women's Team Expenses",
 "Rodeo Women's Team Expenses",
 "Rowing Women's Team Expenses",
 "Sailing Women's Team Expenses",
 "Skiing Women's Team Expenses",
 "Soccer Women's Team Expenses",
 "Softball Women's Team Expenses",
 "Squash Women's Team Expenses",
 "Swimming and Diving Women's Team Expenses",
 "Swimming Women's Team Expenses",
 "Synchronized Swimming Women's Team Expenses",
 "Table Tennis Women's Team Expenses",
 "Team Handball Women's Team Expenses",
 "Tennis Women's Team Expenses",
 "Track and Field Indoor Women's Team Expenses",
 "Track and Field Outdoor Women's Team Expenses",
 "Track and Field X Country Women's Team Expenses",
 "Volleyball Women's Team Expenses",
 "Water Polo Women's Team Expenses",
 "Weight Lifting Women's Team Expenses",
 "Wrestling Women's Team Expenses",
 "Other Sports Women's Team Expenses",
 "Total Women's Team Expenses"]

In [110]:
coed_expenses = [col for col in sp_cols if re.search(r"Coed.*Exp", col)]
coed_expenses

['Coed Team Recruiting Expenses',
 'Archery Coed Team Operating Expenses',
 'Badminton Coed Team Operating Expenses',
 'Baseball Coed Team Operating Expenses',
 'Basketball Coed Team Operating Expenses',
 'Beach Volleyball Coed Team Operating Expenses Operating Expenses',
 'Bowling Coed Team Operating Expenses',
 'All Track Combined Coed Team Operating Expenses',
 'Diving Coed Team Operating Expenses',
 'Equestrian Coed Team Operating Expenses',
 'Fencing Coed Team Operating Expenses',
 'Field Hockey Coed Team Operating Expenses',
 'Football Coed Team Operating Expenses',
 'Golf Coed Team Operating Expenses',
 'Gymnastics Coed Team Operating Expenses',
 'Ice Hockey Coed Team Operating Expenses',
 'Lacrosse Coed Team Operating Expenses',
 'Rifle Coed Team Operating Expenses',
 'Rodeo Coed Team Operating Expenses',
 'Rowing Coed Team Operating Expenses',
 'Sailing Coed Team Operating Expenses',
 'Skiing Coed Team Operating Expenses',
 'Soccer Coed Team Operating Expenses',
 'Softball Coed Team Operating Expenses',
 'Squash Coed Team Operating Expenses',
 'Swimming and Diving Coed Team Operating Expenses',
 'Swimming Coed Team Operating Expenses',
 'Synchronized Swimming Coed Team Operating Expenses',
 'Table Tennis Coed Team Operating Expenses',
 'Team Handball Coed Team Operating Expenses',
 'Tennis Coed Team Operating Expenses',
 'Track and Field Indoor Coed Team Operating Expenses',
 'Track and Field Outdoor Coed Team Operating Expenses',
 'Track and Field X Country Coed Team Operating Expenses',
 'Volleyball Coed Team Operating Expenses',
 'Water Polo Coed Team Operating Expenses',
 'Weight Lifting Coed Team Operating Expenses',
 'Wrestling Coed Team Operating Expenses',
 'Other Sports Coed Team Operating Expenses',
 'Total Coed Team Operating Expenses',
 'Archery Coed Team Expenses',
 'Badminton Coed Team Expenses',
 'Baseball Coed Team Expenses',
 'Basketball Coed Team Expenses',
 'Beach Volleyball Coed Team Expenses Expenses',
 'Bowling Coed Team Expenses',
 'All Track Combined Coed Team Expenses',
 'Diving Coed Team Expenses',
 'Equestrian Coed Team Expenses',
 'Fencing Coed Team Expenses',
 'Field Hockey Coed Team Expenses',
 'Football Coed Team Expenses',
 'Golf Coed Team Expenses',
 'Gymnastics Coed Team Expenses',
 'Ice Hockey Coed Team Expenses',
 'Lacrosse Coed Team Expenses',
 'Rifle Coed Team Expenses',
 'Rodeo Coed Team Expenses',
 'Rowing Coed Team Expenses',
 'Sailing Coed Team Expenses',
 'Skiing Coed Team Expenses',
 'Soccer Coed Team Expenses',
 'Softball Coed Team Expenses',
 'Squash Coed Team Expenses',
 'Swimming and Diving Coed Team Expenses',
 'Swimming Coed Team Expenses',
 'Synchronized Swimming Coed Team Expenses',
 'Table Tennis Coed Team Expenses',
 'Team Handball Coed Team Expenses',
 'Tennis Coed Team Expenses',
 'Track and Field Indoor Coed Team Expenses',
 'Track and Field Outdoor Coed Team Expenses',
 'Track and Field X Country Coed Team Expenses',
 'Volleyball Coed Team Expenses',
 'Water Polo Coed Team Expenses',
 'Weight Lifting Coed Team Expenses',
 'Wrestling Coed Team Expenses',
 'Other Sports Coed Team Expenses',
 'Total Coed Team Expenses']

In [111]:
salary_cols = [
    c for c in sp_cols
    if "Average Annual Institutional Salary" in c
    or "Number of Head Coaches Included in Average" in c
    or "Number of Assistant Coaches Included in Average" in c
    or "Number of FTEs Included in Average" in c
]
salary_cols

["Men's Team Average Annual Institutional Salary per Head Coach",
 "Men's Team Number of Head Coaches Included in Average",
 "Men's Team Average Annual Institutional Salary per FTE",
 "Men's Team Number of FTEs Included in Average",
 " Women's Team Average Annual Institutional Salary per Head Coach",
 "Women's Team Number of Head Coaches Included in Average",
 "Women's Team Average Annual Institutional Salary per FTE",
 "Women's Team Number of FTEs Included in Average",
 ' Coed Team Average Annual Institutional Salary per Head Coach',
 'Coed Team Number of Head Coaches Included in Average',
 'Coed Team Average Annual Institutional Salary per FTE',
 'Coed Team Number of FTEs Included in Average',
 "Men's Team Average Annual Institutional Salary per Assistant Coach",
 "Men's Team Number of Assistant Coaches Included in Average",
 "Men's Team Average Annual Institutional Salary per FTE.1",
 "Men's Team Number of FTEs Included in Average.1",
 " Women's Team Average Annual Institutional Salary per Assistant Coach",
 "Women's Team Number of Assistant Coaches Included in Average",
 "Women's Team Average Annual Institutional Salary per FTE.1",
 "Women's Team Number of FTEs Included in Average.1",
 ' Coed Team Average Annual Institutional Salary per Assistant Coach',
 'Coed Team Number of Assistant Coaches Included in Average',
 'Coed Team Average Annual Institutional Salary per FTE.1',
 'Coed Team Number of FTEs Included in Average.1']

In [112]:
aid_cols = [
    c for c in sp_cols
    if "Athletic Student Aid" in c
]
aid_cols

["Men's Team Athletic Student Aid",
 "Women's Team Athletic Student Aid",
 'Coed Team Athletic Student Aid']

In [113]:
sp_dict = {
    "mens_part": mens_part,
    "womens_part": womens_part,
    "coed_part": coed_part,
    # "total_participation": total_participation_cols,
    "mens_revenue": mens_revenue,
    "womens_revenue": womens_revenue,
    "coed_revenue": coed_revenue,
    "mens_expenses": mens_expenses,
    "womens_expenses": womens_expenses,
    "coed_expenses": coed_expenses,
    # "salary": salary_cols,
    # "aid": aid_cols,
}
pickle.dump(sp_dict, open('../data/mappings/SportParticipation_columns.pkl', 'wb'))

In [114]:
sp_combined_dict = {
    "all_part": mens_part + womens_part + coed_part,
    "all_revenue": mens_revenue + womens_revenue + coed_revenue,
    "all_expenses": mens_expenses + womens_expenses + coed_expenses
}
pickle.dump(sp_combined_dict, open('../data/mappings/SportParticipation_combined_columns.pkl', 'wb'))

## College Scorecard

In [115]:
df = pd.read_pickle("../data/merged/full_df.pkl").iloc[:, :41]
df

,Year,UNITID,Institution Name,City,State Code,Region Name,School Type,Predominant Degree,Highest Degree,LONGITUDE,...,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,Classification Other,Male Undergraduates,Female Undergraduates,Total Undergraduates,Archery Men's Team Participation
0,2004,100654,Alabama A & M University,Normal,AL,Southeast,Public,3,4,-86.568502,...,NCAA,Division 1,True,FCS,NCAA Division I-AA,NaN,2254.0,2470.0,4724.0,0.0
1,2004,100663,University of Alabama at Birmingham,Birmingham,AL,Southeast,Public,3,4,-86.799345,...,NCAA,Division 1,True,FBS,NCAA Division I-A,NaN,3085.0,4910.0,7995.0,0.0
2,2004,100706,University of Alabama in Huntsville,Huntsville,AL,Southeast,Public,3,4,-86.640449,...,NCAA,Division 2,False,,NCAA Division II (without football),NaN,2074.0,1959.0,4033.0,0.0
3,2004,100724,Alabama State University,Montgomery,AL,Southeast,Public,3,4,-86.295677,...,NCAA,Division 1,True,FCS,NCAA Division I-AA,NaN,1681.0,2464.0,4145.0,0.0
4,2004,100751,The University of Alabama,Tuscaloosa,AL,Southeast,Public,3,4,-87.545978,...,NCAA,Division 1,True,FBS,NCAA Division I-A,NaN,6975.0,7880.0,14855.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38136,2023,495147,Pacific Northwest Christian College,Kennewick,WA,Far West,Private Nonprofit,<NA>,2,-119.161961,...,NJCAA,Division 1,None,,NJCAA Division I,NaN,99.0,23.0,122.0,0.0
38137,2023,497046,Madera Community College,Madera,CA,Far West,Public,<NA>,2,-119.997870,...,other,Other,None,,CCCAA,NaN,240.0,349.0,589.0,0.0
38138,2023,497833,Marian University-Ancilla,Plymouth,IN,Great Lakes,Private Nonprofit,<NA>,2,-86.445875,...,NJCAA,Division 2,None,,NJCAA Division II,NaN,100.0,114.0,214.0,0.0
38139,2023,498562,Commonwealth University of Pennsylvania,Bloomsburg,PA,Mid East,Public,<NA>,4,-76.447844,...,NCAA,Division 2,True,,NCAA Division II with football,NaN,3461.0,5257.0,8718.0,0.0
38140,2023,498571,Pennsylvania Western University,California,PA,Mid East,Public,<NA>,4,-79.886790,...,NCAA,Division 2,True,,NCAA Division II with football,NaN,2767.0,4218.0,6985.0,0.0

In [116]:
numerical = ['Median ACT English', 'Median ACT Math', 'Median ACT Writing', 'Median ACT Score', 'Average SAT Score', 'In-State Tuition', 'Out-of-State Tuition', 'Estimated Cost of Attendence', 'Admissions Rate', 'Average Faculty Salary', 'Median Earnings after 10yrs', 'Student to Faculty Ratio', 'Off-Campus Room and Board', 'Male Undergraduates', 'Female Undergraduates', 'Total Undergraduates', 'Total Grad Students', 'Total Enrollment']
categorical = ['City', 'State Code', 'Region Name', 'School Type', 'Predominant Degree', 'Highest Degree', 'HBCU', 'Hispanic Serving College', 'Sanction Name', 'Division Name', 'Football Subdivision',]
keys = ['Year', 'UNITID', 'Institution Name']
coords = ['LONGITUDE', 'LATITUDE']
cs_dict = {
    'keys': keys,
    'numerical': numerical,
    'categorical': categorical,
    'coords': coords
}
pickle.dump(cs_dict, open('../data/mappings/CollegeScorecard_columns.pkl', 'wb'))

## Census

In [117]:
population_cols = ['State Population', 'US Population']
pickle.dump(population_cols, open('../data/mappings/Census_columns.pkl', 'wb'))