In [2]:
import pandas as pd

sp = pd.read_pickle("../data/processed/SportParticipation_AllYears.pkl")
sp

,Year,UNITID,OPE ID,Institution Name,State Code,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,...,Wrestling Total Expenses,Other Sports Men's Team Expenses,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses
0,2004,222178,353700,Abilene Christian University,TX,NCAA,Division 2,True,,NCAA Division II (with football),...,NaN,NaN,NaN,NaN,NaN,2857711.0,1488903.0,NaN,728113.0,5074727
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA,Division 1,None,,NJCAA Division I,...,NaN,NaN,NaN,NaN,NaN,228209.0,201163.0,NaN,46500.0,475872
2,2004,126182,134500,Adams State College,CO,NCAA,Division 2,True,,NCAA Division II (with football),...,126785.0,NaN,NaN,NaN,NaN,1058323.0,766192.0,NaN,226540.0,2051055
3,2004,188429,266600,Adelphi University,NY,NCAA,Division 2,False,,NCAA Division II (without football),...,NaN,NaN,NaN,NaN,NaN,1159346.0,1051790.0,NaN,1067415.0,3278551
4,2004,188438,286000,Adirondack Community College,NY,NJCAA,Division 3,None,,NJCAA Division III,...,NaN,NaN,NaN,NaN,NaN,52776.0,42244.0,NaN,13619.0,108639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38143,2023,420440,3122900,York County Community College,ME,other,Other,None,,USCAA,...,NaN,NaN,NaN,NaN,NaN,58591.0,18539.0,NaN,39456.0,116586
38144,2023,181853,256700,York University,NE,NAIA,Division 2,None,,NAIA Division II,...,669959.0,NaN,183035.0,124543.0,307578.0,2398175.0,2080365.0,124543.0,506994.0,5110077
38145,2023,141361,160400,Young Harris College,GA,NCAA,Division 2,False,,NCAA Division II without football,...,NaN,NaN,NaN,NaN,NaN,2390550.0,2247563.0,NaN,968948.0,5607061
38146,2023,206695,314500,Youngstown State University,OH,NCAA,Division 1,True,FCS,NCAA Division I-FCS,...,NaN,NaN,NaN,NaN,NaN,9451252.0,6286248.0,NaN,5958973.0,21696473
38147,2023,126119,134400,Yuba College,CA,other,Other,None,,CCCAA,...,NaN,NaN,NaN,NaN,NaN,488309.0,175806.0,NaN,275095.0,939210

In [3]:
cs = pd.read_pickle("../data/processed/CollegeScorecard_AllYears.pkl")
cs

,Year,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,...,COUNT_WNE_MALE1_P11,GT_THRESHOLD_P11,MD_EARN_WNE_INC1_P11,MD_EARN_WNE_INC2_P11,MD_EARN_WNE_INC3_P11,MD_EARN_WNE_INDEP0_P11,MD_EARN_WNE_INDEP1_P11,MD_EARN_WNE_MALE0_P11,MD_EARN_WNE_MALE1_P11,SCORECARD_SECTOR
0,2004,100636,01230800,12308,Community College of the Air Force,Montgomery,AL,36114-3011,NaN,NaN,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7
1,2004,100654,00100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
2,2004,100663,00105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
3,2004,100690,02503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
4,2004,100706,00105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142202,2023,49382201,4283601,42836,College Unbound - Newport/Aquidneck Island,Newport,RI,028400000,New England Commission on Higher Education,https://www.collegeunbound.edu/,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,14
142203,2023,49425001,2609404,26094,Valley College - Fairlawn - School of Nursing,Fairlawn,OH,443333631,Accrediting Commission of Career Schools and C...,https://www.valley.edu/,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,15
142204,2023,49501301,4247201,42472,Western Maricopa Education Center - Southwest ...,Buckeye,AZ,85326-5705,Council on Occupational Education,https://west-mec.edu/findyourhappy,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,13
142205,2023,49501302,4247202,42472,Western Maricopa Education Center - Northeast ...,Phoenix,AZ,85027-0000,Council on Occupational Education,https://west-mec.edu/findyourhappy,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,13
142206,2023,49664501,4285601,42856,Burlington County Institute of Technology - Ad...,Medford,NJ,080550000,Middle States Commission on Secondary Education,https://www.bcit.cc/bcitadulted,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,13

In [4]:
merged = pd.merge(sp, cs, on=['Year', 'UNITID'], how='inner')
merged

,Year,UNITID,OPE ID,Institution Name,State Code,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,...,COUNT_WNE_MALE1_P11,GT_THRESHOLD_P11,MD_EARN_WNE_INC1_P11,MD_EARN_WNE_INC2_P11,MD_EARN_WNE_INC3_P11,MD_EARN_WNE_INDEP0_P11,MD_EARN_WNE_INDEP1_P11,MD_EARN_WNE_MALE0_P11,MD_EARN_WNE_MALE1_P11,SCORECARD_SECTOR
0,2004,222178,353700,Abilene Christian University,TX,NCAA,Division 2,True,,NCAA Division II (with football),...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7
2,2004,126182,134500,Adams State College,CO,NCAA,Division 2,True,,NCAA Division II (with football),...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
3,2004,188429,266600,Adelphi University,NY,NCAA,Division 2,False,,NCAA Division II (without football),...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
4,2004,188438,286000,Adirondack Community College,NY,NJCAA,Division 3,None,,NJCAA Division III,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38132,2023,420440,3122900,York County Community College,ME,other,Other,None,,USCAA,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7
38133,2023,181853,256700,York University,NE,NAIA,Division 2,None,,NAIA Division II,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
38134,2023,141361,160400,Young Harris College,GA,NCAA,Division 2,False,,NCAA Division II without football,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
38135,2023,206695,314500,Youngstown State University,OH,NCAA,Division 1,True,FCS,NCAA Division I-FCS,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
38136,2023,126119,134400,Yuba College,CA,other,Other,None,,CCCAA,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7

In [9]:
pop = pd.read_pickle('../data/processed/state_populations.pkl')
pop = pop.rename(columns={'State': 'State Code', 'Population': 'State Population'})
pop

     State Code  Year  State Population  US Population
0            AL  2004         4530729.0    292805298.0
1            AK  2004          659286.0    292805298.0
2            AZ  2004         5652404.0    292805298.0
3            AR  2004         2749686.0    292805298.0
4            CA  2004        35574576.0    292805298.0
...         ...   ...               ...            ...
1035         WA  2023         7857320.0    336806231.0
1036         WV  2023         1770495.0    336806231.0
1037         WI  2023         5930405.0    336806231.0
1038         WY  2023          585067.0    336806231.0
1039         PR  2023         3203792.0    336806231.0

[1040 rows x 4 columns]

In [10]:
merged = pd.merge(merged, pop, on=['Year', 'State Code'], how='inner')
merged

,Year,UNITID,OPE ID,Institution Name,State Code,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,...,MD_EARN_WNE_INC1_P11,MD_EARN_WNE_INC2_P11,MD_EARN_WNE_INC3_P11,MD_EARN_WNE_INDEP0_P11,MD_EARN_WNE_INDEP1_P11,MD_EARN_WNE_MALE0_P11,MD_EARN_WNE_MALE1_P11,SCORECARD_SECTOR,State Population,US Population
0,2004,222178,353700,Abilene Christian University,TX,NCAA,Division 2,True,,NCAA Division II (with football),...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5,22394023.0,292805298.0
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7,8769252.0,292805298.0
2,2004,126182,134500,Adams State College,CO,NCAA,Division 2,True,,NCAA Division II (with football),...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4,4575013.0,292805298.0
3,2004,188429,266600,Adelphi University,NY,NCAA,Division 2,False,,NCAA Division II (without football),...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5,19171567.0,292805298.0
4,2004,188438,286000,Adirondack Community College,NY,NJCAA,Division 3,None,,NJCAA Division III,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7,19171567.0,292805298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,2023,420440,3122900,York County Community College,ME,other,Other,None,,USCAA,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7,1399646.0,336806231.0
38115,2023,181853,256700,York University,NE,NAIA,Division 2,None,,NAIA Division II,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5,1987864.0,336806231.0
38116,2023,141361,160400,Young Harris College,GA,NCAA,Division 2,False,,NCAA Division II without football,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5,11064432.0,336806231.0
38117,2023,206695,314500,Youngstown State University,OH,NCAA,Division 1,True,FCS,NCAA Division I-FCS,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4,11824034.0,336806231.0
38118,2023,126119,134400,Yuba College,CA,other,Other,None,,CCCAA,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7,39198693.0,336806231.0

In [11]:
merged.to_pickle('../data/merged/SportParticipation_CollegeScorecard_full.pkl')