In [67]:
import pandas as pd

sp = pd.read_pickle("../data/processed/SportParticipation_AllYears.pkl")
sp

,Year,UNITID,OPE ID,Institution Name,State Code,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,...,Wrestling Total Expenses,Other Sports Men's Team Expenses,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses
0,2004,222178,353700,Abilene Christian University,TX,NCAA,Division 2,True,,NCAA Division II (with football),...,NaN,NaN,NaN,NaN,NaN,2857711.0,1488903.0,NaN,728113.0,5074727
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA,Division 1,None,,NJCAA Division I,...,NaN,NaN,NaN,NaN,NaN,228209.0,201163.0,NaN,46500.0,475872
2,2004,126182,134500,Adams State College,CO,NCAA,Division 2,True,,NCAA Division II (with football),...,126785.0,NaN,NaN,NaN,NaN,1058323.0,766192.0,NaN,226540.0,2051055
3,2004,188429,266600,Adelphi University,NY,NCAA,Division 2,False,,NCAA Division II (without football),...,NaN,NaN,NaN,NaN,NaN,1159346.0,1051790.0,NaN,1067415.0,3278551
4,2004,188438,286000,Adirondack Community College,NY,NJCAA,Division 3,None,,NJCAA Division III,...,NaN,NaN,NaN,NaN,NaN,52776.0,42244.0,NaN,13619.0,108639
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38143,2023,420440,3122900,York County Community College,ME,other,Other,None,,USCAA,...,NaN,NaN,NaN,NaN,NaN,58591.0,18539.0,NaN,39456.0,116586
38144,2023,181853,256700,York University,NE,NAIA,Division 2,None,,NAIA Division II,...,669959.0,NaN,183035.0,124543.0,307578.0,2398175.0,2080365.0,124543.0,506994.0,5110077
38145,2023,141361,160400,Young Harris College,GA,NCAA,Division 2,False,,NCAA Division II without football,...,NaN,NaN,NaN,NaN,NaN,2390550.0,2247563.0,NaN,968948.0,5607061
38146,2023,206695,314500,Youngstown State University,OH,NCAA,Division 1,True,FCS,NCAA Division I-FCS,...,NaN,NaN,NaN,NaN,NaN,9451252.0,6286248.0,NaN,5958973.0,21696473
38147,2023,126119,134400,Yuba College,CA,other,Other,None,,CCCAA,...,NaN,NaN,NaN,NaN,NaN,488309.0,175806.0,NaN,275095.0,939210

In [68]:
cs = pd.read_pickle("../data/processed/CollegeScorecard_AllYears.pkl")
cs

,Year,UNITID,INSTNM,LONGITUDE,LATITUDE,HBCU,City,Region Name,Predominant Degree,Highest Degree,...,Out-of-State Tuition,Estimated Cost of Attendence,Admissions Rate,Average Faculty Salary,Median Earnings after 10yrs,Number of Undergrad Students,Number of Grad Students,Student to Faculty Ratio,Off-Campus Room and Board,Total Enrollment
1,2004,100654,Alabama A & M University,-86.568502,34.783368,1,Normal,Southeast,3,4,...,8320,<NA>,0.4751,5427,NaN,<NA>,1232,NaN,4770,<NA>
2,2004,100663,University of Alabama at Birmingham,-86.799345,33.505697,0,Birmingham,Southeast,3,4,...,10422,<NA>,0.8592,7398,NaN,<NA>,4275,NaN,8823,<NA>
3,2004,100690,Amridge University,-86.174010,32.362609,0,Montgomery,Southeast,3,4,...,10040,<NA>,NaN,3043,NaN,<NA>,253,NaN,7782,<NA>
4,2004,100706,University of Alabama in Huntsville,-86.640449,34.724557,0,Huntsville,Southeast,3,4,...,9518,<NA>,0.8944,6721,NaN,<NA>,1513,NaN,6480,<NA>
5,2004,100724,Alabama State University,-86.295677,32.364317,1,Montgomery,Southeast,3,4,...,8016,<NA>,0.5042,5231,NaN,<NA>,964,NaN,5625,<NA>
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
141697,2023,499662,Aviation Institute of Maintenance-Phoenix,-112.010360,33.410174,0,Phoenix,Southwest,<NA>,0,...,16657,<NA>,NaN,<NA>,NaN,<NA>,<NA>,NaN,10556,<NA>
141698,2023,499671,Galen Health Institutes-Las Vegas,-115.294893,36.071855,0,Las Vegas,Far West,<NA>,0,...,<NA>,<NA>,NaN,<NA>,NaN,<NA>,<NA>,NaN,<NA>,<NA>
141699,2023,499680,Stellar Career College-Crown Point,-87.401656,41.474242,0,Crown Point,Great Lakes,<NA>,2,...,<NA>,<NA>,NaN,1500,NaN,<NA>,<NA>,15.0,<NA>,<NA>
141700,2023,499705,Tulsa Welding School-Dallas Campus,-96.937120,32.836133,0,Irving,Southwest,<NA>,0,...,<NA>,<NA>,NaN,<NA>,NaN,<NA>,<NA>,30.0,<NA>,<NA>
141701,2023,499723,Barber Tech Academy-Columbia,-81.090103,34.034477,0,Columbia,Southeast,<NA>,0,...,<NA>,<NA>,NaN,<NA>,NaN,<NA>,<NA>,10.0,<NA>,<NA>

In [69]:
merged = pd.merge(cs, sp, on=['Year', 'UNITID'], how='inner')
merged

,Year,UNITID,INSTNM,LONGITUDE,LATITUDE,HBCU,City,Region Name,Predominant Degree,Highest Degree,...,Wrestling Total Expenses,Other Sports Men's Team Expenses,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses
0,2004,100654,Alabama A & M University,-86.568502,34.783368,1,Normal,Southeast,3,4,...,NaN,NaN,NaN,NaN,NaN,2591273.0,1472891.0,NaN,509557.0,4573721
1,2004,100663,University of Alabama at Birmingham,-86.799345,33.505697,0,Birmingham,Southeast,3,4,...,NaN,NaN,NaN,NaN,NaN,9494035.0,3513392.0,NaN,5209449.0,18216876
2,2004,100706,University of Alabama in Huntsville,-86.640449,34.724557,0,Huntsville,Southeast,3,4,...,NaN,NaN,NaN,NaN,NaN,1403005.0,1092021.0,NaN,826510.0,3321536
3,2004,100724,Alabama State University,-86.295677,32.364317,1,Montgomery,Southeast,3,4,...,NaN,NaN,NaN,NaN,NaN,2720772.0,1375428.0,NaN,1188694.0,5284894
4,2004,100751,The University of Alabama,-87.545978,33.211875,0,Tuscaloosa,Southeast,3,4,...,NaN,NaN,NaN,NaN,NaN,22123476.0,9158132.0,NaN,18515320.0,49796928
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38132,2023,495147,Pacific Northwest Christian College,-119.161961,46.212057,0,Kennewick,Far West,<NA>,2,...,NaN,NaN,NaN,NaN,NaN,319296.0,75708.0,NaN,1191.0,396195
38133,2023,497046,Madera Community College,-119.997870,36.925132,0,Madera,Far West,<NA>,2,...,NaN,NaN,NaN,NaN,NaN,0.0,295142.0,NaN,162964.0,458106
38134,2023,497833,Marian University-Ancilla,-86.445875,41.337931,0,Plymouth,Great Lakes,<NA>,2,...,77869.0,NaN,NaN,NaN,NaN,714951.0,561754.0,NaN,204631.0,1481336
38135,2023,498562,Commonwealth University of Pennsylvania,-76.447844,41.007820,0,Bloomsburg,Mid East,<NA>,4,...,1606978.0,201592.0,NaN,NaN,201592.0,7182130.0,6812282.0,NaN,5274244.0,19268656
38136,2023,498571,Pennsylvania Western University,-79.886790,40.064964,0,California,Mid East,<NA>,4,...,1300690.0,NaN,NaN,NaN,NaN,8620532.0,6842088.0,NaN,5877292.0,21339912

In [70]:
pop = pd.read_pickle('../data/processed/Census.pkl')
pop = pop.rename(columns={'State': 'State Code', 'Population': 'State Population'})
pop

     State Code  Year  State Population  US Population
0            AL  2004         4530729.0    292805298.0
1            AK  2004          659286.0    292805298.0
2            AZ  2004         5652404.0    292805298.0
3            AR  2004         2749686.0    292805298.0
4            CA  2004        35574576.0    292805298.0
...         ...   ...               ...            ...
1035         WA  2023         7857320.0    336806231.0
1036         WV  2023         1770495.0    336806231.0
1037         WI  2023         5930405.0    336806231.0
1038         WY  2023          585067.0    336806231.0
1039         PR  2023         3203792.0    336806231.0

[1040 rows x 4 columns]

In [71]:
merged = pd.merge(merged, pop, on=['Year', 'State Code'], how='inner')
merged

,Year,UNITID,INSTNM,LONGITUDE,LATITUDE,HBCU,City,Region Name,Predominant Degree,Highest Degree,...,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses,State Population,US Population
0,2004,100654,Alabama A & M University,-86.568502,34.783368,1,Normal,Southeast,3,4,...,NaN,NaN,NaN,2591273.0,1472891.0,NaN,509557.0,4573721,4530729.0,292805298.0
1,2004,100663,University of Alabama at Birmingham,-86.799345,33.505697,0,Birmingham,Southeast,3,4,...,NaN,NaN,NaN,9494035.0,3513392.0,NaN,5209449.0,18216876,4530729.0,292805298.0
2,2004,100706,University of Alabama in Huntsville,-86.640449,34.724557,0,Huntsville,Southeast,3,4,...,NaN,NaN,NaN,1403005.0,1092021.0,NaN,826510.0,3321536,4530729.0,292805298.0
3,2004,100724,Alabama State University,-86.295677,32.364317,1,Montgomery,Southeast,3,4,...,NaN,NaN,NaN,2720772.0,1375428.0,NaN,1188694.0,5284894,4530729.0,292805298.0
4,2004,100751,The University of Alabama,-87.545978,33.211875,0,Tuscaloosa,Southeast,3,4,...,NaN,NaN,NaN,22123476.0,9158132.0,NaN,18515320.0,49796928,4530729.0,292805298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,2023,495147,Pacific Northwest Christian College,-119.161961,46.212057,0,Kennewick,Far West,<NA>,2,...,NaN,NaN,NaN,319296.0,75708.0,NaN,1191.0,396195,7857320.0,336806231.0
38115,2023,497046,Madera Community College,-119.997870,36.925132,0,Madera,Far West,<NA>,2,...,NaN,NaN,NaN,0.0,295142.0,NaN,162964.0,458106,39198693.0,336806231.0
38116,2023,497833,Marian University-Ancilla,-86.445875,41.337931,0,Plymouth,Great Lakes,<NA>,2,...,NaN,NaN,NaN,714951.0,561754.0,NaN,204631.0,1481336,6880131.0,336806231.0
38117,2023,498562,Commonwealth University of Pennsylvania,-76.447844,41.007820,0,Bloomsburg,Mid East,<NA>,4,...,NaN,NaN,201592.0,7182130.0,6812282.0,NaN,5274244.0,19268656,13017721.0,336806231.0
38118,2023,498571,Pennsylvania Western University,-79.886790,40.064964,0,California,Mid East,<NA>,4,...,NaN,NaN,NaN,8620532.0,6842088.0,NaN,5877292.0,21339912,13017721.0,336806231.0

In [72]:
merged['Total Enrollment'] = merged['Number of Grad Students'] + merged['Total Undergraduates']
merged[merged['Sanction Name']=='NCAA']

,Year,UNITID,INSTNM,LONGITUDE,LATITUDE,HBCU,City,Region Name,Predominant Degree,Highest Degree,...,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses,State Population,US Population
0,2004,100654,Alabama A & M University,-86.568502,34.783368,1,Normal,Southeast,3,4,...,NaN,NaN,NaN,2591273.0,1472891.0,NaN,509557.0,4573721,4530729.0,292805298.0
1,2004,100663,University of Alabama at Birmingham,-86.799345,33.505697,0,Birmingham,Southeast,3,4,...,NaN,NaN,NaN,9494035.0,3513392.0,NaN,5209449.0,18216876,4530729.0,292805298.0
2,2004,100706,University of Alabama in Huntsville,-86.640449,34.724557,0,Huntsville,Southeast,3,4,...,NaN,NaN,NaN,1403005.0,1092021.0,NaN,826510.0,3321536,4530729.0,292805298.0
3,2004,100724,Alabama State University,-86.295677,32.364317,1,Montgomery,Southeast,3,4,...,NaN,NaN,NaN,2720772.0,1375428.0,NaN,1188694.0,5284894,4530729.0,292805298.0
4,2004,100751,The University of Alabama,-87.545978,33.211875,0,Tuscaloosa,Southeast,3,4,...,NaN,NaN,NaN,22123476.0,9158132.0,NaN,18515320.0,49796928,4530729.0,292805298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38105,2023,486840,Kennesaw State University,-84.583052,34.038807,0,Kennesaw,Southeast,3,4,...,NaN,NaN,NaN,14828204.0,8337115.0,NaN,9760748.0,32926067,11064432.0,336806231.0
38108,2023,487524,Husson University,-68.791476,44.829002,0,Bangor,New England,3,4,...,NaN,NaN,NaN,1497361.0,1178431.0,NaN,2531930.0,5207722,1399646.0,336806231.0
38112,2023,490805,Purdue University Northwest,-87.474236,41.584324,0,Hammond,Great Lakes,3,4,...,NaN,NaN,NaN,1644369.0,1839258.0,NaN,1557398.0,5041025,6880131.0,336806231.0
38117,2023,498562,Commonwealth University of Pennsylvania,-76.447844,41.007820,0,Bloomsburg,Mid East,<NA>,4,...,NaN,NaN,201592.0,7182130.0,6812282.0,NaN,5274244.0,19268656,13017721.0,336806231.0
38118,2023,498571,Pennsylvania Western University,-79.886790,40.064964,0,California,Mid East,<NA>,4,...,NaN,NaN,NaN,8620532.0,6842088.0,NaN,5877292.0,21339912,13017721.0,336806231.0

In [73]:
merged.drop(columns=['INSTNM'])
front_cols = ['Year', 'UNITID', 'Institution Name', 'City', 'State Code', 'Region Name', 'School Type', 'Predominant Degree', 'Highest Degree', 'LONGITUDE', 'LATITUDE']
merged = merged[ front_cols + [col for col in merged.columns if col not in front_cols] ]
merged

,Year,UNITID,Institution Name,City,State Code,Region Name,School Type,Predominant Degree,Highest Degree,LONGITUDE,...,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses,State Population,US Population
0,2004,100654,Alabama A & M University,Normal,AL,Southeast,Public,3,4,-86.568502,...,NaN,NaN,NaN,2591273.0,1472891.0,NaN,509557.0,4573721,4530729.0,292805298.0
1,2004,100663,University of Alabama at Birmingham,Birmingham,AL,Southeast,Public,3,4,-86.799345,...,NaN,NaN,NaN,9494035.0,3513392.0,NaN,5209449.0,18216876,4530729.0,292805298.0
2,2004,100706,University of Alabama in Huntsville,Huntsville,AL,Southeast,Public,3,4,-86.640449,...,NaN,NaN,NaN,1403005.0,1092021.0,NaN,826510.0,3321536,4530729.0,292805298.0
3,2004,100724,Alabama State University,Montgomery,AL,Southeast,Public,3,4,-86.295677,...,NaN,NaN,NaN,2720772.0,1375428.0,NaN,1188694.0,5284894,4530729.0,292805298.0
4,2004,100751,The University of Alabama,Tuscaloosa,AL,Southeast,Public,3,4,-87.545978,...,NaN,NaN,NaN,22123476.0,9158132.0,NaN,18515320.0,49796928,4530729.0,292805298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,2023,495147,Pacific Northwest Christian College,Kennewick,WA,Far West,Private Nonprofit,<NA>,2,-119.161961,...,NaN,NaN,NaN,319296.0,75708.0,NaN,1191.0,396195,7857320.0,336806231.0
38115,2023,497046,Madera Community College,Madera,CA,Far West,Public,<NA>,2,-119.997870,...,NaN,NaN,NaN,0.0,295142.0,NaN,162964.0,458106,39198693.0,336806231.0
38116,2023,497833,Marian University-Ancilla,Plymouth,IN,Great Lakes,Private Nonprofit,<NA>,2,-86.445875,...,NaN,NaN,NaN,714951.0,561754.0,NaN,204631.0,1481336,6880131.0,336806231.0
38117,2023,498562,Commonwealth University of Pennsylvania,Bloomsburg,PA,Mid East,Public,<NA>,4,-76.447844,...,NaN,NaN,201592.0,7182130.0,6812282.0,NaN,5274244.0,19268656,13017721.0,336806231.0
38118,2023,498571,Pennsylvania Western University,California,PA,Mid East,Public,<NA>,4,-79.886790,...,NaN,NaN,NaN,8620532.0,6842088.0,NaN,5877292.0,21339912,13017721.0,336806231.0

In [74]:
front = merged.iloc[:,:40].drop(columns='Football Subdivision')

In [75]:
front = merged.iloc[:,:40].drop(columns=['Football Subdivision', 'Number of Undergrad Students'])
rows_with_nan = (
    front
        .isna().any(axis=1)              # True if the row has ≥1 missing value
        .groupby(merged['Institution Name'])
        .sum()                           # sum of True = number of bad rows
        .sort_values()                   # optional: sort most-complete to least
)

front
nan_counts = front.isna().sum()
print(nan_counts)

Year                                0
UNITID                              0
Institution Name                    0
City                                0
State Code                          0
Region Name                        20
School Type                         0
Predominant Degree                  9
Highest Degree                      0
LONGITUDE                           0
LATITUDE                            0
INSTNM                              0
HBCU                                0
Hispanic Serving College            0
Median ACT English              21363
Median ACT Math                 21360
Median ACT Writing              36397
Median ACT Score                19061
Average SAT Score               15900
In-State Tuition                   63
Out-of-State Tuition               63
Estimated Cost of Attendence     9123
Admissions Rate                 12923
Average Faculty Salary             64
Median Earnings after 10yrs     25024
Number of Grad Students         15817
Student to Faculty Ratio         7216
Off-Campus Room and Board        4191
Total Enrollment                15819
OPE ID                              0
Sanction Name                       0
Division Name                       0
Has Football                    17870
Classification Name               250
Classification Other            34860
Male Undergraduates                 6
Female Undergraduates               6
Total Undergraduates                6
dtype: int64

In [76]:
merged.to_pickle('../data/merged/SportParticipation_CollegeScorecard_full.pkl')