In [25]:
import pandas as pd
import pickle

df = pd.read_pickle('../data/merged/full_df.pkl')
df

,Year,UNITID,Institution Name,LONGITUDE,LATITUDE,City,State Code,Region Name,School Type,Predominant Degree,...,Women's Lacrosse Champion,Women's Outdoor Track & Field Champion,Women's Soccer Champion,Women's Softball Champion,Women's Swimming & Diving Champion,Women's Tennis Champion,Women's Volleyball Champion,Total Champions,State Population,US Population
0,2004,100654,Alabama A & M University,-86.568502,34.783368,Normal,AL,Southeast,Public,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4530729.0,292805298.0
1,2004,100663,University of Alabama at Birmingham,-86.799345,33.505697,Birmingham,AL,Southeast,Public,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4530729.0,292805298.0
2,2004,100706,University of Alabama in Huntsville,-86.640449,34.724557,Huntsville,AL,Southeast,Public,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4530729.0,292805298.0
3,2004,100724,Alabama State University,-86.295677,32.364317,Montgomery,AL,Southeast,Public,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4530729.0,292805298.0
4,2004,100751,The University of Alabama,-87.545978,33.211875,Tuscaloosa,AL,Southeast,Public,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4530729.0,292805298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
20281,2023,486840,Kennesaw State University,-84.583052,34.038807,Kennesaw,GA,Southeast,Public,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,11064432.0,336806231.0
20282,2023,487524,Husson University,-68.791476,44.829002,Bangor,ME,New England,Private Nonprofit,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1399646.0,336806231.0
20283,2023,490805,Purdue University Northwest,-87.474236,41.584324,Hammond,IN,Great Lakes,Public,3,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,6880131.0,336806231.0
20284,2023,498562,Commonwealth University of Pennsylvania,-76.447844,41.007820,Bloomsburg,PA,Mid East,Public,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13017721.0,336806231.0
20285,2023,498571,Pennsylvania Western University,-79.886790,40.064964,California,PA,Mid East,Public,<NA>,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,13017721.0,336806231.0

In [33]:
a_cols = pickle.load(open('../data/mappings/Accolades_columns.pkl' ,'rb'))
c_cols = pickle.load(open('../data/mappings/Census_columns.pkl' ,'rb'))
cs_dict = pickle.load(open('../data/mappings/CollegeScorecard_columns.pkl' ,'rb'))
cs_cols = [col for cols in cs_dict.values() for col in cols]
sp_dict = pickle.load(open('../data/mappings/SportParticipation_columns.pkl' ,'rb'))
sp_cols = [col for cols in sp_dict.values() for col in cols]

In [90]:
import pandas as pd

all_knn_rows = []
knn_dict = pickle.load(open('../data/analysis/knn.pkl', 'rb'))

for knn_model, pred_dict in knn_dict.items():
    knn_df = df.copy()[cs_dict['keys'] + ['LONGITUDE', 'LATITUDE']].dropna(subset=['LONGITUDE'])
    for col, preds in pred_dict.items():
        knn_df[col] = preds.astype(int)
    knn_df['knn'] = knn_model
    all_knn_rows.append(knn_df)

knn_df_final = pd.concat(all_knn_rows, ignore_index=True)

In [87]:
knn_df_final["Ice Hockey Men's Team Participation"].value_counts()

Ice Hockey Men's Team Participation
0    73526
1     7470
Name: count, dtype: int64

In [91]:
knn_df_final.to_csv(f'../data/tableau/knn.csv', index=False)

In [27]:
df.to_csv('../data/tableau/full_data.csv', index=False)

In [28]:
df.to_csv('../data/tableau/full_data.csv.gz', index=False, compression='gzip')