In [15]:
import pandas as pd
import pickle

df = pd.read_pickle('../data/merged/full_df.pkl')
df

ERROR! Session/line number was not unique in database. History logging moved to new session 607

,Year,UNITID,Institution Name,City,State Code,Region Name,School Type,Predominant Degree,Highest Degree,LONGITUDE,...,Women's Gymnastics Champion,Women's Indoor Track & Field Champion,Women's Lacrosse Champion,Women's Outdoor Track & Field Champion,Women's Soccer Champion,Women's Softball Champion,Women's Swimming & Diving Champion,Women's Tennis Champion,Women's Volleyball Champion,Total Champions
0,2004,100654,Alabama A & M University,Normal,AL,Southeast,Public,3,4,-86.568502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004,100663,University of Alabama at Birmingham,Birmingham,AL,Southeast,Public,3,4,-86.799345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004,100706,University of Alabama in Huntsville,Huntsville,AL,Southeast,Public,3,4,-86.640449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,100724,Alabama State University,Montgomery,AL,Southeast,Public,3,4,-86.295677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,100751,The University of Alabama,Tuscaloosa,AL,Southeast,Public,3,4,-87.545978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38136,2023,495147,Pacific Northwest Christian College,Kennewick,WA,Far West,Private Nonprofit,<NA>,2,-119.161961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38137,2023,497046,Madera Community College,Madera,CA,Far West,Public,<NA>,2,-119.997870,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38138,2023,497833,Marian University-Ancilla,Plymouth,IN,Great Lakes,Private Nonprofit,<NA>,2,-86.445875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38139,2023,498562,Commonwealth University of Pennsylvania,Bloomsburg,PA,Mid East,Public,<NA>,4,-76.447844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38140,2023,498571,Pennsylvania Western University,California,PA,Mid East,Public,<NA>,4,-79.886790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [16]:
cluster_dict = pickle.load(open('../data/analysis/clustering.pkl', 'rb'))
for k, v in cluster_dict.items():
    df[k] = v
df

,Year,UNITID,Institution Name,City,State Code,Region Name,School Type,Predominant Degree,Highest Degree,LONGITUDE,...,Women's Soccer Champion,Women's Softball Champion,Women's Swimming & Diving Champion,Women's Tennis Champion,Women's Volleyball Champion,Total Champions,cluster (k=3),cluster (k=5),cluster (k=7),cluster (k=9)
0,2004,100654,Alabama A & M University,Normal,AL,Southeast,Public,3,4,-86.568502,...,NaN,NaN,NaN,NaN,NaN,NaN,2,1,4,4
1,2004,100663,University of Alabama at Birmingham,Birmingham,AL,Southeast,Public,3,4,-86.799345,...,NaN,NaN,NaN,NaN,NaN,NaN,2,4,3,1
2,2004,100706,University of Alabama in Huntsville,Huntsville,AL,Southeast,Public,3,4,-86.640449,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3,1,0
3,2004,100724,Alabama State University,Montgomery,AL,Southeast,Public,3,4,-86.295677,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3,1,0
4,2004,100751,The University of Alabama,Tuscaloosa,AL,Southeast,Public,3,4,-87.545978,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3,1,8
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38136,2023,495147,Pacific Northwest Christian College,Kennewick,WA,Far West,Private Nonprofit,<NA>,2,-119.161961,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,0,5
38137,2023,497046,Madera Community College,Madera,CA,Far West,Public,<NA>,2,-119.997870,...,NaN,NaN,NaN,NaN,NaN,NaN,0,0,6,5
38138,2023,497833,Marian University-Ancilla,Plymouth,IN,Great Lakes,Private Nonprofit,<NA>,2,-86.445875,...,NaN,NaN,NaN,NaN,NaN,NaN,1,3,0,0
38139,2023,498562,Commonwealth University of Pennsylvania,Bloomsburg,PA,Mid East,Public,<NA>,4,-76.447844,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2,5,2
38140,2023,498571,Pennsylvania Western University,California,PA,Mid East,Public,<NA>,4,-79.886790,...,NaN,NaN,NaN,NaN,NaN,NaN,1,2,5,8

In [17]:
df.to_csv('../data/tableau/full_data.csv', index=False)

In [18]:
df.to_csv('../data/tableau/full_data.csv.gz', index=False, compression='gzip')