In [32]:
import pandas as pd
df = pd.read_pickle('../data/merged/SportParticipation_CollegeScorecard_full.pkl')
df

,Year,UNITID,OPE ID,Institution Name,State Code,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,...,COUNT_WNE_MALE1_P11,GT_THRESHOLD_P11,MD_EARN_WNE_INC1_P11,MD_EARN_WNE_INC2_P11,MD_EARN_WNE_INC3_P11,MD_EARN_WNE_INDEP0_P11,MD_EARN_WNE_INDEP1_P11,MD_EARN_WNE_MALE0_P11,MD_EARN_WNE_MALE1_P11,SCORECARD_SECTOR
0,2004,222178,353700,Abilene Christian University,TX,NCAA,Division 2,True,,NCAA Division II (with football),...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7
2,2004,126182,134500,Adams State College,CO,NCAA,Division 2,True,,NCAA Division II (with football),...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
3,2004,188429,266600,Adelphi University,NY,NCAA,Division 2,False,,NCAA Division II (without football),...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
4,2004,188438,286000,Adirondack Community College,NY,NJCAA,Division 3,None,,NJCAA Division III,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38132,2023,420440,3122900,York County Community College,ME,other,Other,None,,USCAA,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7
38133,2023,181853,256700,York University,NE,NAIA,Division 2,None,,NAIA Division II,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
38134,2023,141361,160400,Young Harris College,GA,NCAA,Division 2,False,,NCAA Division II without football,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
38135,2023,206695,314500,Youngstown State University,OH,NCAA,Division 1,True,FCS,NCAA Division I-FCS,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
38136,2023,126119,134400,Yuba College,CA,other,Other,None,,CCCAA,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7

In [33]:
# df = df[(df['Year'] == 2023) & (df['Football Subdivision']=='FBS')]
df

,Year,UNITID,OPE ID,Institution Name,State Code,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,...,COUNT_WNE_MALE1_P11,GT_THRESHOLD_P11,MD_EARN_WNE_INC1_P11,MD_EARN_WNE_INC2_P11,MD_EARN_WNE_INC3_P11,MD_EARN_WNE_INDEP0_P11,MD_EARN_WNE_INDEP1_P11,MD_EARN_WNE_MALE0_P11,MD_EARN_WNE_MALE1_P11,SCORECARD_SECTOR
0,2004,222178,353700,Abilene Christian University,TX,NCAA,Division 2,True,,NCAA Division II (with football),...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7
2,2004,126182,134500,Adams State College,CO,NCAA,Division 2,True,,NCAA Division II (with football),...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
3,2004,188429,266600,Adelphi University,NY,NCAA,Division 2,False,,NCAA Division II (without football),...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
4,2004,188438,286000,Adirondack Community College,NY,NJCAA,Division 3,None,,NJCAA Division III,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38132,2023,420440,3122900,York County Community College,ME,other,Other,None,,USCAA,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7
38133,2023,181853,256700,York University,NE,NAIA,Division 2,None,,NAIA Division II,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
38134,2023,141361,160400,Young Harris College,GA,NCAA,Division 2,False,,NCAA Division II without football,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
38135,2023,206695,314500,Youngstown State University,OH,NCAA,Division 1,True,FCS,NCAA Division I-FCS,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
38136,2023,126119,134400,Yuba College,CA,other,Other,None,,CCCAA,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7

In [34]:
# df.filter(like='Team')
simple_df = df.iloc[:, :713].copy()
simple_df['LONGITUDE'] = df['LONGITUDE']
simple_df['LATITUDE'] = df['LATITUDE']
simple_df

,Year,UNITID,OPE ID,Institution Name,State Code,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,...,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses,OPEID,LONGITUDE,LATITUDE
0,2004,222178,353700,Abilene Christian University,TX,NCAA,Division 2,True,,NCAA Division II (with football),...,NaN,NaN,2857711.0,1488903.0,NaN,728113.0,5074727,00353700,NaN,NaN
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA,Division 1,None,,NJCAA Division I,...,NaN,NaN,228209.0,201163.0,NaN,46500.0,475872,00154100,NaN,NaN
2,2004,126182,134500,Adams State College,CO,NCAA,Division 2,True,,NCAA Division II (with football),...,NaN,NaN,1058323.0,766192.0,NaN,226540.0,2051055,00134500,NaN,NaN
3,2004,188429,266600,Adelphi University,NY,NCAA,Division 2,False,,NCAA Division II (without football),...,NaN,NaN,1159346.0,1051790.0,NaN,1067415.0,3278551,00266600,NaN,NaN
4,2004,188438,286000,Adirondack Community College,NY,NJCAA,Division 3,None,,NJCAA Division III,...,NaN,NaN,52776.0,42244.0,NaN,13619.0,108639,00286000,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38132,2023,420440,3122900,York County Community College,ME,other,Other,None,,USCAA,...,NaN,NaN,58591.0,18539.0,NaN,39456.0,116586,3122900,-70.590783,43.306797
38133,2023,181853,256700,York University,NE,NAIA,Division 2,None,,NAIA Division II,...,124543.0,307578.0,2398175.0,2080365.0,124543.0,506994.0,5110077,256700,-97.579352,40.869526
38134,2023,141361,160400,Young Harris College,GA,NCAA,Division 2,False,,NCAA Division II without football,...,NaN,NaN,2390550.0,2247563.0,NaN,968948.0,5607061,160400,-83.845870,34.933523
38135,2023,206695,314500,Youngstown State University,OH,NCAA,Division 1,True,FCS,NCAA Division I-FCS,...,NaN,NaN,9451252.0,6286248.0,NaN,5958973.0,21696473,314500,-80.646590,41.104928
38136,2023,126119,134400,Yuba College,CA,other,Other,None,,CCCAA,...,NaN,NaN,488309.0,175806.0,NaN,275095.0,939210,134400,-121.539640,39.126536

In [35]:
simple_df.to_csv('../data/tableau/simple_output.csv', index=False)