In [11]:
import pandas as pd

df = pd.read_pickle('../data/merged/SportParticipation_CollegeScorecard_full.pkl')
df

,Year,UNITID,OPE ID,Institution Name,State Code,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,...,MD_EARN_WNE_INC1_P11,MD_EARN_WNE_INC2_P11,MD_EARN_WNE_INC3_P11,MD_EARN_WNE_INDEP0_P11,MD_EARN_WNE_INDEP1_P11,MD_EARN_WNE_MALE0_P11,MD_EARN_WNE_MALE1_P11,SCORECARD_SECTOR,State Population,US Population
0,2004,222178,353700,Abilene Christian University,TX,NCAA,Division 2,True,,NCAA Division II (with football),...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5,22394023.0,292805298.0
1,2004,138558,154100,Abraham Baldwin Agricultural College,GA,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7,8769252.0,292805298.0
2,2004,126182,134500,Adams State College,CO,NCAA,Division 2,True,,NCAA Division II (with football),...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4,4575013.0,292805298.0
3,2004,188429,266600,Adelphi University,NY,NCAA,Division 2,False,,NCAA Division II (without football),...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5,19171567.0,292805298.0
4,2004,188438,286000,Adirondack Community College,NY,NJCAA,Division 3,None,,NJCAA Division III,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7,19171567.0,292805298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,2023,420440,3122900,York County Community College,ME,other,Other,None,,USCAA,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7,1399646.0,336806231.0
38115,2023,181853,256700,York University,NE,NAIA,Division 2,None,,NAIA Division II,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5,1987864.0,336806231.0
38116,2023,141361,160400,Young Harris College,GA,NCAA,Division 2,False,,NCAA Division II without football,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5,11064432.0,336806231.0
38117,2023,206695,314500,Youngstown State University,OH,NCAA,Division 1,True,FCS,NCAA Division I-FCS,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4,11824034.0,336806231.0
38118,2023,126119,134400,Yuba College,CA,other,Other,None,,CCCAA,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7,39198693.0,336806231.0

In [12]:
id_cols = ['Year', 'UNITID', 'Institution Name', 'State Code', 'Sanction Name']
pop_cols = ['Male Undergraduates', 'Female Undergraduates']

column_names = list(df.columns)
expense_cols = [expense for expense in column_names if 'Total Expenses' in expense]
expense_cols

['Archery Total Expenses',
 'Badminton Total Expenses',
 'Baseball Total Expenses',
 'Basketball Total Expenses',
 'Beach Volleyball Total Expenses',
 'Bowling Total Expenses',
 'All Track Combined Total Expenses',
 'Diving Total Expenses',
 'Equestrian Total Expenses',
 'Fencing Total Expenses',
 'Field Hockey Total Expenses',
 'Football Total Expenses',
 'Golf Total Expenses',
 'Gymnastics Total Expenses',
 'Ice Hockey Total Expenses',
 'Lacrosse Total Expenses',
 'Rifle Total Expenses',
 'Rodeo Total Expenses',
 'Rowing Total Expenses',
 'Sailing Total Expenses',
 'Skiing Total Expenses',
 'Soccer Total Expenses',
 'Softball Total Expenses',
 'Squash Total Expenses',
 'Swimming and Diving Total Expenses',
 'Swimming Total Expenses',
 'Synchronized Swimming Total Expenses',
 'Table Tennis Total Expenses',
 'Team Handball Total Expenses',
 'Tennis Total Expenses',
 'Track and Field Indoor Total Expenses',
 'Track and Field Outdoor Total Expenses',
 'Track and Field X Country Total Expenses',
 'Volleyball Total Expenses',
 'Water Polo Total Expenses',
 'Weight Lifting Total Expenses',
 'Wrestling Total Expenses',
 'Other Sports Total Expenses',
 'Grand Total Expenses']

In [13]:
coach_cols = [coach for coach in column_names if 'Salary per' in coach]
coach_cols = [coach for coach in coach_cols if 'Coach' in coach]
coach_cols

["Men's Team Average Annual Institutional Salary per Head Coach",
 " Women's Team Average Annual Institutional Salary per Head Coach",
 ' Coed Team Average Annual Institutional Salary per Head Coach',
 "Men's Team Average Annual Institutional Salary per Assistant Coach",
 " Women's Team Average Annual Institutional Salary per Assistant Coach",
 ' Coed Team Average Annual Institutional Salary per Assistant Coach']

In [71]:
academic_cols = ['SCH_DEG', 'NPCURL', 'LONGITUDE', 'NPT4_PUB', 'NPT4_PRIV', ]
df[['Institution Name', 'Year'] + academic_cols]

,Institution Name,Year,SCH_DEG,NPCURL,LONGITUDE,NPT4_PUB,NPT4_PRIV
0,Abilene Christian University,2004,3,NaN,NaN,<NA>,<NA>
1,Abraham Baldwin Agricultural College,2004,2,NaN,NaN,<NA>,<NA>
2,Adams State College,2004,3,NaN,NaN,<NA>,<NA>
3,Adelphi University,2004,3,NaN,NaN,<NA>,<NA>
4,Adirondack Community College,2004,2,NaN,NaN,<NA>,<NA>
...,...,...,...,...,...,...,...
38114,York County Community College,2023,<NA>,https://www.yccc.edu/about-us/about-yccc/consu...,-70.590783,7025,<NA>
38115,York University,2023,<NA>,www.york.edu/financial-aid/net-price-calculato...,-97.579352,<NA>,20129
38116,Young Harris College,2023,<NA>,npc.collegeboard.org/app/yhc,-83.845870,<NA>,11008
38117,Youngstown State University,2023,<NA>,https://cfweb.cc.ysu.edu/finaid/tuition/est_tu...,-80.646590,11877,<NA>
38118,Yuba College,2023,<NA>,https://yc.yccd.edu/student/financialaid/net-p...,-121.539640,3573,<NA>

In [76]:
df[~df['COSTT4_P'].isna()]

,Year,UNITID,OPE ID,Institution Name,State Code,Sanction Name,Division Name,Has Football,Football Subdivision,Classification Name,...,MD_EARN_WNE_INC1_P11,MD_EARN_WNE_INC2_P11,MD_EARN_WNE_INC3_P11,MD_EARN_WNE_INDEP0_P11,MD_EARN_WNE_INDEP1_P11,MD_EARN_WNE_MALE0_P11,MD_EARN_WNE_MALE1_P11,SCORECARD_SECTOR,State Population,US Population
12021,2010,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2858266.0,309327143.0
13906,2011,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2869677.0,311583481.0
15811,2012,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2886024.0,313877662.0
17715,2013,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2894306.0,316059947.0
19633,2014,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2901861.0,318386329.0
21566,2015,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2910717.0,320738994.0
23509,2016,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2912977.0,323071755.0
25460,2017,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2910892.0,325122128.0
27429,2018,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,33744,37116,43073,38107,29756,28834,40993,10,2912748.0,326838199.0
29409,2019,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,33671,39956,57074,41422,34365,30798,44028,10,2912635.0,328329953.0
31297,2020,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2938172.0,331577720.0
33197,2021,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2938338.0,332099760.0
35189,2022,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2937324.0,334017321.0
37220,2023,155618,526700,Northwest Kansas Technical College,KS,NJCAA,Division 1,None,,NJCAA Division I,...,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,10,2951500.0,336806231.0

In [155]:
c = df[(df['Institution Name'] == 'Harvard University') | (df['Institution Name'] == 'Rogers State University')]

constants = ['Year', 'UNITID', 'City', 'LONGITUDE', 'LATITUDE', 'HBCU', 'Region Name']
constant_dict = {
    'SCH_DEG': 'Predominant Degree',
    'HIGHDEG': 'Highest Degree',
    'HSI': 'Hispanic Serving College'
}

variable = []
variable_dict = {
    'ACTENMID': 'Median ACT English',
    'ACTMTMID': 'Median ACT Math',
    'ACTWRMID': 'Median ACT Writing',
    'ACTCMMID': 'Median ACT Score',
    'SAT_AVG': 'Average SAT Score',
    'NPT4_PUB': 'Net Price of Public', #ideally combine these to be net price
    'NPT4_PRIV': 'Net Price of Private',
    'TUITIONFEE_IN': 'In-State Tuition',
    'TUITIONFEE_OUT': 'Out-of-State Tuition',
    'COSTT4_A': 'Estimated Cost of Attendence',
    'ADM_RATE': 'Admissions Rate',
    'AVGFACSAL': 'Average Faculty Salary',
    'MD_EARN_WNE_P10': 'Median Earnings after 10yrs',
    'COUNT_NWNE_P10': 'Number of Students Unemployed after 10yrs', # should adjust to proportion
    'UG': 'Number of Undergrad Students',
    'GRADS': 'Number of Grad Students',
    'STUFACR': 'Student to Faculty Ratio',
    'ROOMBOARD_OFF': 'Off-Campus Room and Board'
}
test = ['SATWRMID']
c[['Institution Name', 'Year'] + test]

              Institution Name  Year  SATWRMID
589         Harvard University  2004       NaN
2378        Harvard University  2005       NaN
4166        Harvard University  2006     735.0
5980        Harvard University  2007     745.0
6582   Rogers State University  2007       NaN
7835        Harvard University  2008     740.0
8442   Rogers State University  2008       NaN
9704        Harvard University  2009     735.0
10311  Rogers State University  2009       NaN
11583       Harvard University  2010     755.0
12194  Rogers State University  2010       NaN
13470       Harvard University  2011     740.0
14078  Rogers State University  2011       NaN
15370       Harvard University  2012     755.0
15983  Rogers State University  2012       NaN
17276       Harvard University  2013     755.0
17886  Rogers State University  2013       NaN
19194       Harvard University  2014     760.0
19804  Rogers State University  2014       NaN
21121       Harvard University  2015     750.0
21739  Rogers State University  2015       NaN
23061       Harvard University  2016       NaN
23685  Rogers State University  2016       NaN
25012       Harvard University  2017       NaN
25640  Rogers State University  2017       NaN
26979       Harvard University  2018       NaN
27611  Rogers State University  2018       NaN
28958       Harvard University  2019       NaN
29593  Rogers State University  2019       NaN
31442  Rogers State University  2020       NaN
32747       Harvard University  2021       NaN
33360  Rogers State University  2021       NaN
34734       Harvard University  2022       NaN
35378  Rogers State University  2022       NaN
36758       Harvard University  2023       NaN
37409  Rogers State University  2023       NaN

In [196]:
test = 'CONTROL_PEPS'
f = df[['Year', 'Institution Name', test]]
# f[f[test] == 3]
# f[test].hist()
# f[test] = pd.to_numeric(df[test], errors='coerce')
f[test].value_counts()
# f.sort_values(test, ascending=False)

CONTROL_PEPS
Public               1168
Private Nonprofit     854
Proprietary            15
Name: count, dtype: int64

In [24]:
a = pd.read_pickle('../data/processed/CollegeScorecard_AllYears.pkl')
a

,Year,UNITID,OPEID,OPEID6,INSTNM,CITY,STABBR,ZIP,ACCREDAGENCY,INSTURL,...,COUNT_WNE_MALE1_P11,GT_THRESHOLD_P11,MD_EARN_WNE_INC1_P11,MD_EARN_WNE_INC2_P11,MD_EARN_WNE_INC3_P11,MD_EARN_WNE_INDEP0_P11,MD_EARN_WNE_INDEP1_P11,MD_EARN_WNE_MALE0_P11,MD_EARN_WNE_MALE1_P11,SCORECARD_SECTOR
0,2004,100636,01230800,12308,Community College of the Air Force,Montgomery,AL,36114-3011,NaN,NaN,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,7
1,2004,100654,00100200,1002,Alabama A & M University,Normal,AL,35762,NaN,NaN,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
2,2004,100663,00105200,1052,University of Alabama at Birmingham,Birmingham,AL,35294-0110,NaN,NaN,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
3,2004,100690,02503400,25034,Amridge University,Montgomery,AL,36117-3553,NaN,NaN,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,5
4,2004,100706,00105500,1055,University of Alabama in Huntsville,Huntsville,AL,35899,NaN,NaN,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,4
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
142202,2023,49382201,4283601,42836,College Unbound - Newport/Aquidneck Island,Newport,RI,028400000,New England Commission on Higher Education,https://www.collegeunbound.edu/,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,14
142203,2023,49425001,2609404,26094,Valley College - Fairlawn - School of Nursing,Fairlawn,OH,443333631,Accrediting Commission of Career Schools and C...,https://www.valley.edu/,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,15
142204,2023,49501301,4247201,42472,Western Maricopa Education Center - Southwest ...,Buckeye,AZ,85326-5705,Council on Occupational Education,https://west-mec.edu/findyourhappy,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,13
142205,2023,49501302,4247202,42472,Western Maricopa Education Center - Northeast ...,Phoenix,AZ,85027-0000,Council on Occupational Education,https://west-mec.edu/findyourhappy,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,13
142206,2023,49664501,4285601,42856,Burlington County Institute of Technology - Ad...,Medford,NJ,080550000,Middle States Commission on Secondary Education,https://www.bcit.cc/bcitadulted,...,<NA>,NaN,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,<NA>,13

In [ ]:
ipeds_region = {
    1: "New England",
    2: "Mid East",
    3: "Great Lakes",
    4: "Plains",
    5: "Southeast",
    6: "Southwest",
    7: "Rocky Mountains",
    8: "Far West",
    9: "Outlying Areas"
}
df['RegionName'] = df['REGION'].map(ipeds_region)

In [ ]:
pcip_to_pctdeg = {
    'PCIP01': 'Pct Deg Agriculture',
    'PCIP03': 'Pct Deg Resources',
    'PCIP04': 'Pct Deg Architecture',
    'PCIP05': 'Pct Deg Ethnic Cultural Gender',
    'PCIP09': 'Pct Deg Communication',
    'PCIP10': 'Pct Deg Communications Technology',
    'PCIP11': 'Pct Deg Computer',
    'PCIP12': 'Pct Deg Personal Culinary',
    'PCIP13': 'Pct Deg Education',
    'PCIP14': 'Pct Deg Engineering',
    'PCIP15': 'Pct Deg Engineering Technology',
    'PCIP16': 'Pct Deg Language',
    'PCIP19': 'Pct Deg Family Consumer Science',
    'PCIP22': 'Pct Deg Legal',
    'PCIP23': 'Pct Deg English',
    'PCIP24': 'Pct Deg Humanities',
    'PCIP25': 'Pct Deg Library',
    'PCIP26': 'Pct Deg Biological',
    'PCIP27': 'Pct Deg Mathematics',
    'PCIP29': 'Pct Deg Military',
    'PCIP30': 'Pct Deg Multidiscipline',
    'PCIP31': 'Pct Deg Parks Recreation Fitness',
    'PCIP38': 'Pct Deg Philosophy Religious',
    'PCIP39': 'Pct Deg Theology Religious Vocation',
    'PCIP40': 'Pct Deg Physical Science',
    'PCIP41': 'Pct Deg Science Technology',
    'PCIP42': 'Pct Deg Psychology',
    'PCIP43': 'Pct Deg Security Law Enforcement',
    'PCIP44': 'Pct Deg Public Administration Social Service',
    'PCIP45': 'Pct Deg Social Science',
    'PCIP46': 'Pct Deg Construction',
    'PCIP47': 'Pct Deg Mechanic Repair Technology',
    'PCIP48': 'Pct Deg Precision Production',
    'PCIP49': 'Pct Deg Transportation',
    'PCIP50': 'Pct Deg Visual Performing',
    'PCIP51': 'Pct Deg Health',
    'PCIP52': 'Pct Deg Business Marketing',
    'PCIP54': 'Pct Deg History'
}
df.rename(columns=pcip_to_pctdeg)