Cluster using sports accolades

In [38]:
import pandas as pd

df = pd.read_pickle('../data/merged/full_df.pkl')
df

,Year,UNITID,Institution Name,City,State Code,Region Name,School Type,Predominant Degree,Highest Degree,LONGITUDE,...,Women's Gymnastics Champion,Women's Indoor Track & Field Champion,Women's Lacrosse Champion,Women's Outdoor Track & Field Champion,Women's Soccer Champion,Women's Softball Champion,Women's Swimming & Diving Champion,Women's Tennis Champion,Women's Volleyball Champion,Total Champions
0,2004,100654,Alabama A & M University,Normal,AL,Southeast,Public,3,4,-86.568502,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2004,100663,University of Alabama at Birmingham,Birmingham,AL,Southeast,Public,3,4,-86.799345,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2004,100706,University of Alabama in Huntsville,Huntsville,AL,Southeast,Public,3,4,-86.640449,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2004,100724,Alabama State University,Montgomery,AL,Southeast,Public,3,4,-86.295677,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2004,100751,The University of Alabama,Tuscaloosa,AL,Southeast,Public,3,4,-87.545978,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38136,2023,495147,Pacific Northwest Christian College,Kennewick,WA,Far West,Private Nonprofit,<NA>,2,-119.161961,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38137,2023,497046,Madera Community College,Madera,CA,Far West,Public,<NA>,2,-119.997870,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38138,2023,497833,Marian University-Ancilla,Plymouth,IN,Great Lakes,Private Nonprofit,<NA>,2,-86.445875,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38139,2023,498562,Commonwealth University of Pennsylvania,Bloomsburg,PA,Mid East,Public,<NA>,4,-76.447844,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
38140,2023,498571,Pennsylvania Western University,California,PA,Mid East,Public,<NA>,4,-79.886790,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [39]:
import pickle
a_cols = pickle.load(open('../data/mappings/Accolades_columns.pkl' ,'rb'))
c_cols = pickle.load(open('../data/mappings/Census_columns.pkl' ,'rb'))
cs_dict = pickle.load(open('../data/mappings/CollegeScorecard_columns.pkl' ,'rb'))
sp_dict = pickle.load(open('../data/mappings/SportParticipation_columns.pkl' ,'rb'))

In [40]:
expense_cols = sp_dict['mens_expenses'] + sp_dict['womens_expenses']
expense_cols

["Archery Men's Team Expenses",
 "Badminton Men's Team Expenses",
 "Baseball Men's Team Expenses",
 "Basketball Men's Team Expenses",
 "Beach Volleyball Men's Team Expenses",
 "Bowling Men's Team Expenses",
 "All Track Combined Men's Team Expenses",
 "Diving Men's Team Expenses",
 "Equestrian Men's Team Expenses",
 "Fencing Men's Team Expenses",
 "Field Hockey Men's Team Expenses",
 "Football Men's Team Expenses",
 "Golf Men's Team Expenses",
 "Gymnastics Men's Team Expenses",
 "Ice Hockey Men's Team Expenses",
 "Lacrosse Men's Team Expenses",
 "Rifle Men's Team Expenses",
 "Rodeo Men's Team Expenses",
 "Rowing Men's Team Expenses",
 "Sailing Men's Team Expenses",
 "Skiing Men's Team Expenses",
 "Soccer Men's Team Expenses",
 "Softball Men's Team Expenses",
 "Squash Men's Team Expenses",
 "Swimming and Diving Men's Team Expenses",
 "Swimming Men's Team Expenses",
 "Synchronized Swimming Men's Team Expenses",
 "Table Tennis Men's Team Expenses",
 "Team Handball Men's Team Expenses",
 "Tennis Men's Team Expenses",
 "Track and Field Indoor Men's Team Expenses",
 "Track and Field Outdoor Men's Team Expenses",
 "Track and Field X Country Men's Team Expenses",
 "Volleyball Men's Team Expenses",
 "Water Polo Men's Team Expenses",
 "Weight Lifting Men's Team Expenses",
 "Wrestling Men's Team Expenses",
 "Other Sports Men's Team Expenses",
 "Total Men's Team Expenses",
 "Archery Women's Team Expenses",
 "Badminton Women's Team Expenses",
 "Baseball Women's Team Expenses",
 "Basketball Women's Team Expenses",
 "Beach Volleyball Women's Team Expenses",
 "Bowling Women's Team Expenses",
 "All Track Combined Women's Team Expenses",
 "Diving Women's Team Expenses",
 "Equestrian Women's Team Expenses",
 "Fencing Women's Team Expenses",
 "Field Hockey Women's Team Expenses",
 "Football Women's Team Expenses",
 "Golf Women's Team Expenses",
 "Gymnastics Women's Team Expenses",
 "Ice Hockey Women's Team Expenses",
 "Lacrosse Women's Team Expenses",
 "Rifle Women's Team Expenses",
 "Rodeo Women's Team Expenses",
 "Rowing Women's Team Expenses",
 "Sailing Women's Team Expenses",
 "Skiing Women's Team Expenses",
 "Soccer Women's Team Expenses",
 "Softball Women's Team Expenses",
 "Squash Women's Team Expenses",
 "Swimming and Diving Women's Team Expenses",
 "Swimming Women's Team Expenses",
 "Synchronized Swimming Women's Team Expenses",
 "Table Tennis Women's Team Expenses",
 "Team Handball Women's Team Expenses",
 "Tennis Women's Team Expenses",
 "Track and Field Indoor Women's Team Expenses",
 "Track and Field Outdoor Women's Team Expenses",
 "Track and Field X Country Women's Team Expenses",
 "Volleyball Women's Team Expenses",
 "Water Polo Women's Team Expenses",
 "Weight Lifting Women's Team Expenses",
 "Wrestling Women's Team Expenses",
 "Other Sports Women's Team Expenses",
 "Total Women's Team Expenses"]

In [41]:
from sklearn.cluster import KMeans

X = df[expense_cols].fillna(0).values > 0

In [42]:
preds = {}
for k in list(range(3, 10, 2)):
    kmeans = KMeans(
        n_clusters=k,
        random_state=6740,
        n_init=10
    )
    preds[f'cluster (k={k})'] = kmeans.fit_predict(X)
preds

{'cluster (k=3)': array([2, 2, 1, ..., 1, 1, 1], shape=(38141,), dtype=int32),
 'cluster (k=5)': array([1, 4, 3, ..., 3, 2, 2], shape=(38141,), dtype=int32),
 'cluster (k=7)': array([4, 3, 1, ..., 0, 5, 5], shape=(38141,), dtype=int32),
 'cluster (k=9)': array([4, 1, 0, ..., 0, 2, 8], shape=(38141,), dtype=int32)}

In [43]:
pickle.dump(preds, open('../data/analysis/clustering.pkl', 'wb'))