Cluster using sports accolades

In [1]:
import pandas as pd

df = pd.read_pickle('../data/merged/full_df.pkl')
df

,Year,UNITID,Institution Name,City,State Code,Region Name,School Type,Predominant Degree,Highest Degree,LONGITUDE,...,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses,State Population,US Population
0,2004,100654,Alabama A & M University,Normal,AL,Southeast,Public,3,4,-86.568502,...,NaN,NaN,NaN,2591273.0,1472891.0,NaN,509557.0,4573721,4530729.0,292805298.0
1,2004,100663,University of Alabama at Birmingham,Birmingham,AL,Southeast,Public,3,4,-86.799345,...,NaN,NaN,NaN,9494035.0,3513392.0,NaN,5209449.0,18216876,4530729.0,292805298.0
2,2004,100706,University of Alabama in Huntsville,Huntsville,AL,Southeast,Public,3,4,-86.640449,...,NaN,NaN,NaN,1403005.0,1092021.0,NaN,826510.0,3321536,4530729.0,292805298.0
3,2004,100724,Alabama State University,Montgomery,AL,Southeast,Public,3,4,-86.295677,...,NaN,NaN,NaN,2720772.0,1375428.0,NaN,1188694.0,5284894,4530729.0,292805298.0
4,2004,100751,The University of Alabama,Tuscaloosa,AL,Southeast,Public,3,4,-87.545978,...,NaN,NaN,NaN,22123476.0,9158132.0,NaN,18515320.0,49796928,4530729.0,292805298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,2023,495147,Pacific Northwest Christian College,Kennewick,WA,Far West,Private Nonprofit,<NA>,2,-119.161961,...,NaN,NaN,NaN,319296.0,75708.0,NaN,1191.0,396195,7857320.0,336806231.0
38115,2023,497046,Madera Community College,Madera,CA,Far West,Public,<NA>,2,-119.997870,...,NaN,NaN,NaN,0.0,295142.0,NaN,162964.0,458106,39198693.0,336806231.0
38116,2023,497833,Marian University-Ancilla,Plymouth,IN,Great Lakes,Private Nonprofit,<NA>,2,-86.445875,...,NaN,NaN,NaN,714951.0,561754.0,NaN,204631.0,1481336,6880131.0,336806231.0
38117,2023,498562,Commonwealth University of Pennsylvania,Bloomsburg,PA,Mid East,Public,<NA>,4,-76.447844,...,NaN,NaN,201592.0,7182130.0,6812282.0,NaN,5274244.0,19268656,13017721.0,336806231.0
38118,2023,498571,Pennsylvania Western University,California,PA,Mid East,Public,<NA>,4,-79.886790,...,NaN,NaN,NaN,8620532.0,6842088.0,NaN,5877292.0,21339912,13017721.0,336806231.0

In [12]:
id_cols = ['Year', 'UNITID', 'Institution Name', 'State Code', 'Sanction Name']
pop_cols = ['Male Undergraduates', 'Female Undergraduates']

column_names = list(df.columns)
expense_cols = [expense for expense in column_names if 'Total Expenses' in expense]
expense_cols

['Archery Total Expenses',
 'Badminton Total Expenses',
 'Baseball Total Expenses',
 'Basketball Total Expenses',
 'Beach Volleyball Total Expenses',
 'Bowling Total Expenses',
 'All Track Combined Total Expenses',
 'Diving Total Expenses',
 'Equestrian Total Expenses',
 'Fencing Total Expenses',
 'Field Hockey Total Expenses',
 'Football Total Expenses',
 'Golf Total Expenses',
 'Gymnastics Total Expenses',
 'Ice Hockey Total Expenses',
 'Lacrosse Total Expenses',
 'Rifle Total Expenses',
 'Rodeo Total Expenses',
 'Rowing Total Expenses',
 'Sailing Total Expenses',
 'Skiing Total Expenses',
 'Soccer Total Expenses',
 'Softball Total Expenses',
 'Squash Total Expenses',
 'Swimming and Diving Total Expenses',
 'Swimming Total Expenses',
 'Synchronized Swimming Total Expenses',
 'Table Tennis Total Expenses',
 'Team Handball Total Expenses',
 'Tennis Total Expenses',
 'Track and Field Indoor Total Expenses',
 'Track and Field Outdoor Total Expenses',
 'Track and Field X Country Total Expenses',
 'Volleyball Total Expenses',
 'Water Polo Total Expenses',
 'Weight Lifting Total Expenses',
 'Wrestling Total Expenses',
 'Other Sports Total Expenses',
 'Grand Total Expenses']

In [13]:
coach_cols = [coach for coach in column_names if 'Salary per' in coach]
coach_cols = [coach for coach in coach_cols if 'Coach' in coach]
coach_cols

["Men's Team Average Annual Institutional Salary per Head Coach",
 " Women's Team Average Annual Institutional Salary per Head Coach",
 ' Coed Team Average Annual Institutional Salary per Head Coach',
 "Men's Team Average Annual Institutional Salary per Assistant Coach",
 " Women's Team Average Annual Institutional Salary per Assistant Coach",
 ' Coed Team Average Annual Institutional Salary per Assistant Coach']

In [2]:
df

,Year,UNITID,Institution Name,City,State Code,Region Name,School Type,Predominant Degree,Highest Degree,LONGITUDE,...,Other Sports Women's Team Expenses,Other Sports Coed Team Expenses,Other Sports Total Expenses,Total Men's Team Expenses,Total Women's Team Expenses,Total Coed Team Expenses,Not Allocated by Sex/Sport Expenses,Grand Total Expenses,State Population,US Population
0,2004,100654,Alabama A & M University,Normal,AL,Southeast,Public,3,4,-86.568502,...,NaN,NaN,NaN,2591273.0,1472891.0,NaN,509557.0,4573721,4530729.0,292805298.0
1,2004,100663,University of Alabama at Birmingham,Birmingham,AL,Southeast,Public,3,4,-86.799345,...,NaN,NaN,NaN,9494035.0,3513392.0,NaN,5209449.0,18216876,4530729.0,292805298.0
2,2004,100706,University of Alabama in Huntsville,Huntsville,AL,Southeast,Public,3,4,-86.640449,...,NaN,NaN,NaN,1403005.0,1092021.0,NaN,826510.0,3321536,4530729.0,292805298.0
3,2004,100724,Alabama State University,Montgomery,AL,Southeast,Public,3,4,-86.295677,...,NaN,NaN,NaN,2720772.0,1375428.0,NaN,1188694.0,5284894,4530729.0,292805298.0
4,2004,100751,The University of Alabama,Tuscaloosa,AL,Southeast,Public,3,4,-87.545978,...,NaN,NaN,NaN,22123476.0,9158132.0,NaN,18515320.0,49796928,4530729.0,292805298.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
38114,2023,495147,Pacific Northwest Christian College,Kennewick,WA,Far West,Private Nonprofit,<NA>,2,-119.161961,...,NaN,NaN,NaN,319296.0,75708.0,NaN,1191.0,396195,7857320.0,336806231.0
38115,2023,497046,Madera Community College,Madera,CA,Far West,Public,<NA>,2,-119.997870,...,NaN,NaN,NaN,0.0,295142.0,NaN,162964.0,458106,39198693.0,336806231.0
38116,2023,497833,Marian University-Ancilla,Plymouth,IN,Great Lakes,Private Nonprofit,<NA>,2,-86.445875,...,NaN,NaN,NaN,714951.0,561754.0,NaN,204631.0,1481336,6880131.0,336806231.0
38117,2023,498562,Commonwealth University of Pennsylvania,Bloomsburg,PA,Mid East,Public,<NA>,4,-76.447844,...,NaN,NaN,201592.0,7182130.0,6812282.0,NaN,5274244.0,19268656,13017721.0,336806231.0
38118,2023,498571,Pennsylvania Western University,California,PA,Mid East,Public,<NA>,4,-79.886790,...,NaN,NaN,NaN,8620532.0,6842088.0,NaN,5877292.0,21339912,13017721.0,336806231.0

In [ ]:
df.drop(columns=['HBCU', 'Hispanic Serving College', 'Median ACT Score', 'Average SAT Score', 'In-State Tuition', 'Out-of-State Tuition', ])